mixin breadcrumbs
  nav(aria-label="breadcrumbs")
    ol.breadcrumb
      li.breadcrumb-item.home
        a(href="#")
          i.fa.fa-home.fs-20.mr-2
      li.breadcrumb-item
        a(href="#") Název kategorie
      li.breadcrumb-item
        a(href="#") Název podkategorie
      li.breadcrumb-item.active(aria-current="page") Název produktu