mixin steps()
  .group-of-steps.mb-5.d-none.d-sm-flex
    .step.step-done
      .step-title Košík
      .step-progress
        .step-line-start
        .step-mark
          .step-mark-num.font-heading 1
          .step-mark-icon.bi.bi-check-circle-fill
        .step-line-end
    .step.step-active
      .step-title Doprava a platba
      .step-progress
        .step-line-start
        .step-mark
          .step-mark-num.font-heading 2
          .step-mark-icon.bi.bi-check-circle-fill
        .step-line-end
    .step 
      .step-title Dodací údaje
      .step-progress
        .step-line-start
        .step-mark
          .step-mark-num.font-heading 3
          .step-mark-icon.bi.bi-check-circle-fill
        .step-line-end
    .step 
      .step-title Souhrn a odeslání
      .step-progress
        .step-line-start
        .step-mark
          .step-mark-num.font-heading 4
          .step-mark-icon.bi.bi-check-circle-fill
        .step-line-end