.row
  .col-md-4
    .p-3.mb-3.bg-primary.text-white Brand Primární
  .col-md-4
    .p-3.mb-3.bg-secondary.text-white Brand Sekundární
  .col-md-4
    .p-3.mb-3.bg-success.text-white Success
  .col-md-4
    .p-3.mb-3.bg-danger.text-white Danger
  .col-md-4
    .p-3.mb-3.bg-warning.text-dark Warning
  .col-md-4
    .p-3.mb-3.bg-info.text-dark Info
  .col-md-4
    .p-3.mb-3.bg-light.text-dark Light
  .col-md-4
    .p-3.mb-3.bg-dark.text-white Dark

.row.font-monospace
  
  .col-md-4.mb-3
    .p-3.mb-2.position-relative.swatch-primary
      strong.d-block $primary
      =site('theme_color_primary')

    .p-3.bd-primary-100 $primary-100
    .p-3.bd-primary-200 $primary-200
    .p-3.bd-primary-300 $primary-300
    .p-3.bd-primary-400 $primary-400
    .p-3.bd-primary-500 $primary-500
    .p-3.bd-primary-600 $primary-600
    .p-3.bd-primary-700 $primary-700
    .p-3.bd-primary-800 $primary-800
    .p-3.bd-primary-900 $primary-900
  