//  *  *  *

$primary:       #1c2536;
$secondary:     #008800;
$success:       $secondary;

$theme-colors-new: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
);

// $font-family-base     : 'PT Sans', sans-serif;
// $headings-font-family : 'Poppins', sans-serif;
$body-color           : $gray-900;
$headings-color       : $primary;
$link-color           : $secondary;
$link-hover-color     : shift-color($link-color, $link-shade-percentage);
$text-muted           : $gray-500;

//  *  *  *


$utility-colors-new: map-merge($theme-colors-new, $grays);
$button-colors-new: $theme-colors-new;




// Pokus o funcki která vrátí jen změněné hodnoty v theme-colors
// $theme-colors-default: $theme-colors;

// @function getMapDiff($map1, $map2) {
//   $diff: $map2;
//   @each $key, $val in $map1 {
//     @if map-get($map1, $key) == map-get($map2, $key) {
//       $diff: map-remove($diff, $key);
//     }
//   }
//   @return $diff;
// };

// @mixin debug-map($map) {
//   @at-root {
//       __properties__ {
//           @each $key, $value in $map {
//               #{$key}: inspect($value);
//           }
//       }
//   }
// }

// @include debug-map($theme-colors);