    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item.home
          a(href="#")
            i.fa.fa-home.fs-20.mr-2
        li.breadcrumb-item
          a(href="#") Název kategorie
        li.breadcrumb-item
          a(href="#") Název podkategorie
        li.breadcrumb-item.active(aria-current="page") Název produktu
    .d-flex.justify-content-between.flex-wrap.flex-sm-nowrap.mb-5
      .product-left-col.mr-sm-3.mr-lg-5
        a.product-img.d-block.mb-2(href="#")
          .embed-responsive.embed-responsive-1by1
            .embed-responsive-item.p-3
              img.img-fluid(src="assets/img/products/119598_kachlova-kamna-treviso-ii-kachlovy-sokl--cerna-zelena-kachle.jpg")
            .embed-responsive-item.pt-1.pl-2.border
              .product-card-badges
                span.badge.badge-primary.badge-sale.mr-2 Akce
                span.badge.badge-primary.badge-new.mr-2 Novinka
        .product-gallery.grid.grid-col-sm.grid-gap-2.mb-4
          a.thumbnail(href="#")
            img.img-fluid(src="assets/img/products/thumbnails/27079_krb-ohniste-calura--65-cm-zack.jpg")
          a.thumbnail(href="#")
            img.img-fluid(src="assets/img/products/thumbnails/34565_236004-log-kaminholzbutler-1280x1024.jpg")
          a.thumbnail(href="#")
            img.img-fluid(src="assets/img/products/thumbnails/stojan-na-drevo-runni-1500.jpg")
          a.thumbnail(href="#")
            img.img-fluid(src="assets/img/products/thumbnails/23895-1_krbove-naradi-kruhove-set-5ks-chimo-blomus.jpg")
      .product-right-col
        h1.text-primary.fs-28.mb-4 ABX Stockholm 12 s výměníkem
        .table-responsive.table-borderless.fs-13.product-table-primary-info
          table.table.table-bordered.mb-0
            tbody.text-nowrap
              tr
                th Výkon
                td 6 kW
              tr
                th Obklad
                td
                  span plech
              tr
                th Průměr kouřovodu
                td 150 mm
              tr
                th Vývod kouřovodu
                td
                  a(href="#") horní a zadní
              tr
                th Výkon
                td 6 kW
              tr
                th Obklad
                td
                  span plech
              tr
                th Průměr kouřovodu
                td 150 mm
              tr
                th Vývod kouřovodu
                td
                  a(href="#") horní a zadní
        a.fs-14.text-red.text-underline.mb-4.d-block(href="#")
          | více parametrů
          i.fa.fa-chevron-down.fs-10.ml-1
        .my-5
          .d-flex.align-items-center.mb-4
            .max-w-2-5.mr-3
              img.img-fluid(src="assets/img/theme/delivery-truck-3.png")
            div
              span.fs-18.d-block.lh-1em Doprava ZDARMA
              span.fs-13.lh-1em S nákupem tohoto zboží neplatíte poštovné
          .d-flex.align-items-center.mb-4
            .max-w-2-5.mr-3
              img.img-fluid(src="assets/img/theme/warehouse.png")
            div
              span.fs-18.d-block.lh-1em Dostupnost
              span.fs-13.lh-1em
                span.text-green.font-weight-bold Skladem na prodejně
                span.text-muted  (cca 1 ks)
          .d-flex.align-items-center.mb-4
            .max-w-2-5.mr-3
              img.img-fluid(src="assets/img/theme/conversation-chat-2.png")
            div
              span.fs-18.d-block.lh-1em Nevíte si rady?
              a.fs-14.text-primary.text-underline(href="#") Poradíme vám
        .add-to-cart.d-flex.justify-content-between.my-4
          div
            span.d-block.text-primary.fs-32.lh-1em.font-weight-bold.text-nowrap 17 890 Kč
            span.fs-12.text-muted Naše cena s DPH
          a.btn.btn-primary.btn-lg.d-flex.align-items-center(role="button")
            span Vložit do košíku
        div
          span.d-block.text-muted.fs-20.lh-1em.text-line-through 22 600 Kč
          span.fs-12.text-muted Obvyklá cena s DPH
    .product-tabs.fs-14
      ul.nav.nav-tabs(role="tablist")
        li.nav-item(role="presentation")
          a.nav-link(role="tab", data-toggle="tab", href="#tab-1") Popis výrobku
        li.nav-item(role="presentation")
          a.nav-link(role="tab", data-toggle="tab", href="#tab-2") Ke stažení - návody a technické listy
        li.nav-item(role="presentation")
          a.nav-link.active(role="tab", data-toggle="tab", href="#tab-3") Nevíte si rady? Zeptejte se prodavače
        li.nav-item(role="presentation")
          a.nav-link(role="tab", data-toggle="tab", href="#tab-3") Vaše hodnocení
      .tab-content
        .tab-pane#tab-1(role="tabpanel")
          p
            | Výrobce: Scan , Kód výrobku: 09649
            br
          p
            | Krbová kamna Scan 58–7 – černé lišty, bez bočního skla, černý lak mají jmenovitý výkon 6 kW (regulovatelný v rozmezí 3 až 8 kW). Jsou schopna vytopit prostor o objemu 50 až 204 m3. Udávaná energetická účinnost je 73%.
            br
            br
          p
            | Doporučený komínový tah je v rozmezí 12 – 20 Pa. Výška osy zadního kouřovodu je 1000 mm.
            br
            | Kamna lze objednat s horní deskou ze skla nebo mastku, který dobře udržuje teplo. Spodní dvířka se dají sklopit a zajistit tak osobitější design.
            br
        .tab-pane#tab-2(role="tabpanel")
          ul.list-unstyled.links-primary.text-underline
            li.py-1
              i.fa.fa-file.text-red.mr-2
              a(href="#") Název souboru ke stažení (PDF, 380 KB)
            li.py-1
              i.fa.fa-file.text-red.mr-2
              a(href="#") Název souboru ke stažení (PDF, 380 KB)
            li.py-1
              i.fa.fa-file.text-red.mr-2
              a(href="#") Název souboru ke stažení (PDF, 380 KB)
            li.py-1
              i.fa.fa-file.text-red.mr-2
              a(href="#") Název souboru ke stažení (PDF, 380 KB)
            li.py-1
              i.fa.fa-file.text-red.mr-2
              a(href="#") Název souboru ke stažení (PDF, 380 KB)
            li.py-1
              i.fa.fa-file.text-red.mr-2
              a(href="#") Název souboru ke stažení (PDF, 380 KB)
            li.py-1
              i.fa.fa-file.text-red.mr-2
              a(href="#") Název souboru ke stažení (PDF, 380 KB)
            li.py-1
              i.fa.fa-file.text-red.mr-2
              a(href="#") Název souboru ke stažení (PDF, 380 KB)
            li.py-1
              i.fa.fa-file.text-red.mr-2
              a(href="#") Název souboru ke stažení (PDF, 380 KB)
        .tab-pane.active#tab-3(role="tabpanel")
          .max-w-40
            form
              .form-group.row
                label.col-sm-2.col-form-label(for="inputEmail3") Email
                .col-sm-10
                  input.form-control#inputEmail3(type="email", placeholder="Email")
              .form-group.row
                label.col-sm-2.col-form-label(for) Váš dotaz
                .col-sm-10
                  textarea.form-control(rows="3")
              .form-group.row
                .col-sm-12.text-right
                  button.btn.btn-primary(type="submit") Odeslat dotaz
        .tab-pane#tab-4(role="tabpanel")
          p Content for tab 3.
    h3.mb-4 Může se hodit
    .product-cards-grid.mb-5
      .card.product-card
        a.d-block(href="detail-produktu.html")
          .embed-responsive.embed-responsive-1by1
            .embed-responsive-item.p-3
              img.img-fluid(src="assets/img/products/thumbnails/file-02.jpg")
            .embed-responsive-item.pt-1.pl-2
              .product-card-badges
                span.badge.badge-primary.badge-pill.badge-sale.mr-2 Akce
                span.badge.badge-primary.badge-pill.badge-new.mr-2 Novinka
        .card-body.text-center.p-2.p-lg-3
          h4.card-title.fs-16.font-weight-bold Product Title
          p.card-text.fs-12.m-0 Product description donec bibendum lorem ligula, id libero rhoncus qui…
          span.fs-14.text-muted.px-2.text-line-through 22 490,-
          span.fs-18.text-red.font-weight-bold.px-2 17 890,-
        .add-to-cart.d-flex.flex-wrap.justify-content-center.mb-2
          a.btn.btn-outline-primary.fs-14.d-flex.align-items-center.m-1(role="button", href="kosik.html")
            span do košíku
      .card.product-card
        a.d-block(href="detail-produktu.html")
          .embed-responsive.embed-responsive-1by1
            .embed-responsive-item.p-3
              img.img-fluid(src="assets/img/products/thumbnails/file-02.jpg")
            .embed-responsive-item.pt-1.pl-2
              .product-card-badges
                span.badge.badge-primary.badge-pill.badge-sale.mr-2 Akce
                span.badge.badge-primary.badge-pill.badge-new.mr-2 Novinka
        .card-body.text-center.p-2.p-lg-3
          h4.card-title.fs-16.font-weight-bold Product Title
          p.card-text.fs-12.m-0 Product description donec bibendum lorem ligula, id libero rhoncus qui…
          span.fs-14.text-muted.px-2.text-line-through 22 490,-
          span.fs-18.text-red.font-weight-bold.px-2 17 890,-
        .add-to-cart.d-flex.flex-wrap.justify-content-center.mb-2
          a.btn.btn-outline-primary.fs-14.d-flex.align-items-center.m-1(role="button", href="kosik.html")
            span do košíku
      .card.product-card
        a.d-block(href="detail-produktu.html")
          .embed-responsive.embed-responsive-1by1
            .embed-responsive-item.p-3
              img.img-fluid(src="assets/img/products/thumbnails/file-02.jpg")
            .embed-responsive-item.pt-1.pl-2
              .product-card-badges
                span.badge.badge-primary.badge-pill.badge-sale.mr-2 Akce
                span.badge.badge-primary.badge-pill.badge-new.mr-2 Novinka
        .card-body.text-center.p-2.p-lg-3
          h4.card-title.fs-16.font-weight-bold Product Title
          p.card-text.fs-12.m-0 Product description donec bibendum lorem ligula, id libero rhoncus qui…
          span.fs-14.text-muted.px-2.text-line-through 22 490,-
          span.fs-18.text-red.font-weight-bold.px-2 17 890,-
        .add-to-cart.d-flex.flex-wrap.justify-content-center.mb-2
          a.btn.btn-outline-primary.fs-14.d-flex.align-items-center.m-1(role="button", href="kosik.html")
            span do košíku
      .card.product-card
        a.d-block(href="detail-produktu.html")
          .embed-responsive.embed-responsive-1by1
            .embed-responsive-item.p-3
              img.img-fluid(src="assets/img/products/thumbnails/file-02.jpg")
            .embed-responsive-item.pt-1.pl-2
              .product-card-badges
                span.badge.badge-primary.badge-pill.badge-sale.mr-2 Akce
                span.badge.badge-primary.badge-pill.badge-new.mr-2 Novinka
        .card-body.text-center.p-2.p-lg-3
          h4.card-title.fs-16.font-weight-bold Product Title
          p.card-text.fs-12.m-0 Product description donec bibendum lorem ligula, id libero rhoncus qui…
          span.fs-14.text-muted.px-2.text-line-through 22 490,-
          span.fs-18.text-red.font-weight-bold.px-2 17 890,-
        .add-to-cart.d-flex.flex-wrap.justify-content-center.mb-2
          a.btn.btn-outline-primary.fs-14.d-flex.align-items-center.m-1(role="button", href="kosik.html")
            span do košíku
  .sidebar
    .postit.mb-3
      .max-w-5.mx-auto.mb-4
        img.img-fluid(src="assets/img/theme/common-file-award.png")
      h1.postit-heading Jsme certifikovaní prodejci
      p krbových kamen ABX, HAAS+SOHN, Jotul, Nordica, Edilkamin, Romotop, Prity, Kvs ekodivize
    .postit.mb-3
      h1.postit-heading
        strong Užitečné informace
      ul.list-unstyled
        li
          a(href="#") Doprava
        li
          a(href="#") Obchodní podmínky
        li
          a(href="#") Reklamační řád
    .postit.mb-3
      h1.postit-heading
        strong Našli jste nižší cenu?
      p
        | Našli jste někde nižší cenu a přesto by jste rádi výrobek zakoupili u nás? Nezoufejte! Zkuste Vámi vybraný výrobek poptat u nás pomocí formuláře v 
        a(href="index.html") kontaktech
        | .
