<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dobrá kamna</title>
    <meta name="description" content="Kamna, krbová kamna">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&amp;subset=latin-ext">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800&amp;subset=latin-ext">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.compiled.css">
    <link rel="stylesheet" href="assets/css/custom.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg sticky-top bg-white shadow-sm">
        <div class="container-fluid justify-content-between"><a class="navbar-brand" href="../index.html"><img class="img-fluid" src="assets/img/theme/logo.png"></a><button data-toggle="collapse" class="navbar-toggler mx-2" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="d-xl-block mx-2 d-none">
                <div class="d-flex align-items-center text-gray text-nowrap"><i class="fa fa-phone fs-32 mr-2"></i>
                    <div class="d-flex flex-column"><span class="font-weight-bold">+420 774 145 752</span><span class="fs-12">Po-Pá 8:00 - 16:30</span></div>
                </div>
        </div>
        <div class="d-sm-block mx-2 d-none">
            <div class="border">
                <form class="form-inline"><input class="form-control border-0 max-w-9" type="text" placeholder="hledej" name="search"><button class="btn" type="submit"><i class="fa fa-search text-primary"></i></button></form>
            </div>
        </div>
        <div class="d-md-block mx-2 d-none">
            <div class="fs-14 text-gray">
                <div><i class="fa fa-user-circle mr-1"></i>
                    <div class="d-inline-flex align-items-center"><a href="../login.html">Přihlásit</a><span class="mx-2">/</span><a href="#">Registrace</a></div>
                </div>
                <div class="mt-1"><i class="fa fa-shopping-cart mr-1"></i><a href="#">Košík&nbsp;<span class="text-red font-weight-bold">12 460,-</span></a></div>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-0 p-4 p-lg-0" id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="#">Produkty</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Instalace</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Doprava</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Poradna</a></li>
                <li class="nav-item"><a class="nav-link" href="kontakt.html">Kontakt</a></li>
                <li class="nav-item d-sm-none my-3">
                    <div class="border d-inline-block">
                        <form class="form-inline"><input class="form-control border-0 max-w-10" type="text" placeholder="hledej" name="search"><button class="btn icon-search text-red" type="submit"></button></form>
                    </div>
                </li>
                <li class="nav-item d-lg-none"><a class="nav-link" href="#">Přihlásit se</a></li>
                <li class="nav-item d-lg-none"><a class="nav-link" href="#">Registrace</a></li>
            </ul>
        </div>
        </div>
    </nav>
    <div class="container-fluid d-flex main my-5">
        <div class="content"><nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item home"><a href="#"><i class="fa fa-home fs-20 mr-2"></i></a></li>
    <li class="breadcrumb-item"><a href="#">Název kategorie</a></li>
    <li class="breadcrumb-item"><a href="#">Název podkategorie</a></li>
    <li class="breadcrumb-item active" aria-current="page">Název produktu</li>
  </ol>
</nav>

            <h1 class="mb-4">Krbová kamna</h1>
            <div class="row mb-5">
                <div class="col">
                    <p class="text-muted">Krbová kamna navíc kromě zdroje tepla mohou být i zajímavým oživením vašeho interiéru. Ceny energií se v posledních letech šplhají nahoru a vysávají lidem z rodinných rozpočtů ročně stovky až tisíce korun navíc. Hlavně proto se vracejí
                        ke krbovým kamnům na tuhá paliva. Tuhé palivo je totiž pořád nejlevnější topení. Nové krbové kamna mají vyšší účinnost, a tedy menší spotřebu paliva.</p>
                    <p class="text-muted">Nové krbové kamna mají vyšší účinnost, a tedy menší spotřebu paliva. Díky dokonalému spalování jsou šetrnější k životnímu prostředí. Krbová kamna moderní konstrukce mají velmi nízké hodnoty emisí tuhých částic. Kamna mnohých značek
                        splňují nejpřísnější evropské normy včetně DIN+(SRN, Rakousko) a NORDIC SWAN ECO-LABEL, kterou vyžadují v severských zemích.</p>
                </div>
                <div class="col d-none d-xl-block" style="background: url(&quot;assets/img/theme/category-bg2.jpg&quot;) right / contain no-repeat;"></div>
            </div>
            <div></div>
            <div class="filter-bar border-top border-bottom mb-4 py-1 fs-13 lh-24">
                <div class="filter-by-flags">
                    <div class="custom-control custom-control-inline custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-1"><label class="custom-control-label" for="formCheck-1">Skladem</label></div>
                    <div class="custom-control custom-control-inline custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-2"><label class="custom-control-label" for="formCheck-2">Akce</label></div>
                    <div class="custom-control custom-control-inline custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-3"><label class="custom-control-label" for="formCheck-3">Novinka</label></div>
                </div>
                <ul class="list-inline order-by-list mb-0 d-none d-lg-block">
                    <li class="list-inline-item"><a href="#">Od nejlevnějšího</a></li>
                    <li class="list-inline-item active"><a href="#">Od nejdražšího</a></li>
                    <li class="list-inline-item"><a href="#">Podle názvu A-Z</a></li>
                    <li class="list-inline-item"><a href="#">Podle názvu Z-A</a></li>
                </ul><select class="custom-select order-by-select border d-lg-none"><optgroup label="Řadit produkty podle"><option value="0" selected="">-- řadit podle --</option><option value="price-low">Od nejlevnějšího</option><option value="price-high">Od nejdražšího</option><option value="name-a">Podle názvu A-Z</option><option value="name-z">Podle názvu Z-A</option></optgroup></select></div>
            <div
                class="product-cards-grid mb-5">
                <div class="card product-card">
                    <a class="d-block" href="detail-produktu.html">
                        <div class="embed-responsive embed-responsive-1by1">
                            <div class="embed-responsive-item p-3"><img class="img-fluid" src="assets/img/products/thumbnails/file-02.jpg"></div>
                            <div class="embed-responsive-item pt-1 pl-2">
                                <div class="product-card-badges"><span class="badge badge-primary badge-pill badge-sale mr-2">Akce</span><span class="badge badge-primary badge-pill badge-new mr-2">Novinka</span></div>
                            </div>
                        </div>
                    </a>
                    <div class="card-body text-center p-2 p-lg-3">
                        <h4 class="card-title fs-16 font-weight-bold">Product Title</h4>
                        <p class="card-text fs-12 m-0">Product description donec bibendum lorem ligula, id libero rhoncus qui…</p><span class="fs-14 text-muted px-2 text-line-through">22 490,-</span><span class="fs-18 text-red font-weight-bold px-2">17 890,-</span></div>
                    <div class="add-to-cart d-flex flex-wrap justify-content-center mb-2"><a class="btn btn-outline-primary fs-14 d-flex align-items-center m-1" role="button" href="kosik.html"><span>do košíku</span></a></div>
                </div>
                <div class="card product-card">
                    <a class="d-block" href="detail-produktu.html">
                        <div class="embed-responsive embed-responsive-1by1">
                            <div class="embed-responsive-item p-3"><img class="img-fluid" src="assets/img/products/thumbnails/file-02.jpg"></div>
                            <div class="embed-responsive-item pt-1 pl-2">
                                <div class="product-card-badges"><span class="badge badge-primary badge-pill badge-sale mr-2">Akce</span><span class="badge badge-primary badge-pill badge-new mr-2">Novinka</span></div>
                            </div>
                        </div>
                    </a>
                    <div class="card-body text-center p-2 p-lg-3">
                        <h4 class="card-title fs-16 font-weight-bold">Product Title</h4>
                        <p class="card-text fs-12 m-0">Product description donec bibendum lorem ligula, id libero rhoncus qui…</p><span class="fs-14 text-muted px-2 text-line-through">22 490,-</span><span class="fs-18 text-red font-weight-bold px-2">17 890,-</span></div>
                    <div class="add-to-cart d-flex flex-wrap justify-content-center mb-2"><a class="btn btn-outline-primary fs-14 d-flex align-items-center m-1" role="button" href="kosik.html"><span>do košíku</span></a></div>
                </div>
                <div class="card product-card">
                    <a class="d-block" href="detail-produktu.html">
                        <div class="embed-responsive embed-responsive-1by1">
                            <div class="embed-responsive-item p-3"><img class="img-fluid" src="assets/img/products/thumbnails/file-02.jpg"></div>
                            <div class="embed-responsive-item pt-1 pl-2">
                                <div class="product-card-badges"><span class="badge badge-primary badge-pill badge-sale mr-2">Akce</span><span class="badge badge-primary badge-pill badge-new mr-2">Novinka</span></div>
                            </div>
                        </div>
                    </a>
                    <div class="card-body text-center p-2 p-lg-3">
                        <h4 class="card-title fs-16 font-weight-bold">Product Title</h4>
                        <p class="card-text fs-12 m-0">Product description donec bibendum lorem ligula, id libero rhoncus qui…</p><span class="fs-14 text-muted px-2 text-line-through">22 490,-</span><span class="fs-18 text-red font-weight-bold px-2">17 890,-</span></div>
                    <div class="add-to-cart d-flex flex-wrap justify-content-center mb-2"><a class="btn btn-outline-primary fs-14 d-flex align-items-center m-1" role="button" href="kosik.html"><span>do košíku</span></a></div>
                </div>
                <div class="card product-card">
                    <a class="d-block" href="detail-produktu.html">
                        <div class="embed-responsive embed-responsive-1by1">
                            <div class="embed-responsive-item p-3"><img class="img-fluid" src="assets/img/products/thumbnails/file-02.jpg"></div>
                            <div class="embed-responsive-item pt-1 pl-2">
                                <div class="product-card-badges"><span class="badge badge-primary badge-pill badge-sale mr-2">Akce</span><span class="badge badge-primary badge-pill badge-new mr-2">Novinka</span></div>
                            </div>
                        </div>
                    </a>
                    <div class="card-body text-center p-2 p-lg-3">
                        <h4 class="card-title fs-16 font-weight-bold">Product Title</h4>
                        <p class="card-text fs-12 m-0">Product description donec bibendum lorem ligula, id libero rhoncus qui…</p><span class="fs-14 text-muted px-2 text-line-through">22 490,-</span><span class="fs-18 text-red font-weight-bold px-2">17 890,-</span></div>
                    <div class="add-to-cart d-flex flex-wrap justify-content-center mb-2"><a class="btn btn-outline-primary fs-14 d-flex align-items-center m-1" role="button" href="kosik.html"><span>do košíku</span></a></div>
                </div>
                <div class="card product-card">
                    <a class="d-block" href="detail-produktu.html">
                        <div class="embed-responsive embed-responsive-1by1">
                            <div class="embed-responsive-item p-3"><img class="img-fluid" src="assets/img/products/thumbnails/file-02.jpg"></div>
                            <div class="embed-responsive-item pt-1 pl-2">
                                <div class="product-card-badges"><span class="badge badge-primary badge-pill badge-sale mr-2">Akce</span><span class="badge badge-primary badge-pill badge-new mr-2">Novinka</span></div>
                            </div>
                        </div>
                    </a>
                    <div class="card-body text-center p-2 p-lg-3">
                        <h4 class="card-title fs-16 font-weight-bold">Product Title</h4>
                        <p class="card-text fs-12 m-0">Product description donec bibendum lorem ligula, id libero rhoncus qui…</p><span class="fs-14 text-muted px-2 text-line-through">22 490,-</span><span class="fs-18 text-red font-weight-bold px-2">17 890,-</span></div>
                    <div class="add-to-cart d-flex flex-wrap justify-content-center mb-2"><a class="btn btn-outline-primary fs-14 d-flex align-items-center m-1" role="button" href="kosik.html"><span>do košíku</span></a></div>
                </div>
                <div class="card product-card">
                    <a class="d-block" href="detail-produktu.html">
                        <div class="embed-responsive embed-responsive-1by1">
                            <div class="embed-responsive-item p-3"><img class="img-fluid" src="assets/img/products/thumbnails/file-02.jpg"></div>
                            <div class="embed-responsive-item pt-1 pl-2">
                                <div class="product-card-badges"><span class="badge badge-primary badge-pill badge-sale mr-2">Akce</span><span class="badge badge-primary badge-pill badge-new mr-2">Novinka</span></div>
                            </div>
                        </div>
                    </a>
                    <div class="card-body text-center p-2 p-lg-3">
                        <h4 class="card-title fs-16 font-weight-bold">Product Title</h4>
                        <p class="card-text fs-12 m-0">Product description donec bibendum lorem ligula, id libero rhoncus qui…</p><span class="fs-14 text-muted px-2 text-line-through">22 490,-</span><span class="fs-18 text-red font-weight-bold px-2">17 890,-</span></div>
                    <div class="add-to-cart d-flex flex-wrap justify-content-center mb-2"><a class="btn btn-outline-primary fs-14 d-flex align-items-center m-1" role="button" href="kosik.html"><span>do košíku</span></a></div>
                </div>
                <div class="card product-card">
                    <a class="d-block" href="detail-produktu.html">
                        <div class="embed-responsive embed-responsive-1by1">
                            <div class="embed-responsive-item p-3"><img class="img-fluid" src="assets/img/products/thumbnails/file-02.jpg"></div>
                            <div class="embed-responsive-item pt-1 pl-2">
                                <div class="product-card-badges"><span class="badge badge-primary badge-pill badge-sale mr-2">Akce</span><span class="badge badge-primary badge-pill badge-new mr-2">Novinka</span></div>
                            </div>
                        </div>
                    </a>
                    <div class="card-body text-center p-2 p-lg-3">
                        <h4 class="card-title fs-16 font-weight-bold">Product Title</h4>
                        <p class="card-text fs-12 m-0">Product description donec bibendum lorem ligula, id libero rhoncus qui…</p><span class="fs-14 text-muted px-2 text-line-through">22 490,-</span><span class="fs-18 text-red font-weight-bold px-2">17 890,-</span></div>
                    <div class="add-to-cart d-flex flex-wrap justify-content-center mb-2"><a class="btn btn-outline-primary fs-14 d-flex align-items-center m-1" role="button" href="kosik.html"><span>do košíku</span></a></div>
                </div>
                <div class="card product-card">
                    <a class="d-block" href="detail-produktu.html">
                        <div class="embed-responsive embed-responsive-1by1">
                            <div class="embed-responsive-item p-3"><img class="img-fluid" src="assets/img/products/thumbnails/file-02.jpg"></div>
                            <div class="embed-responsive-item pt-1 pl-2">
                                <div class="product-card-badges"><span class="badge badge-primary badge-pill badge-sale mr-2">Akce</span><span class="badge badge-primary badge-pill badge-new mr-2">Novinka</span></div>
                            </div>
                        </div>
                    </a>
                    <div class="card-body text-center p-2 p-lg-3">
                        <h4 class="card-title fs-16 font-weight-bold">Product Title</h4>
                        <p class="card-text fs-12 m-0">Product description donec bibendum lorem ligula, id libero rhoncus qui…</p><span class="fs-14 text-muted px-2 text-line-through">22 490,-</span><span class="fs-18 text-red font-weight-bold px-2">17 890,-</span></div>
                    <div class="add-to-cart d-flex flex-wrap justify-content-center mb-2"><a class="btn btn-outline-primary fs-14 d-flex align-items-center m-1" role="button" href="kosik.html"><span>do košíku</span></a></div>
                </div>
                <div class="card product-card">
                    <a class="d-block" href="detail-produktu.html">
                        <div class="embed-responsive embed-responsive-1by1">
                            <div class="embed-responsive-item p-3"><img class="img-fluid" src="assets/img/products/thumbnails/file-02.jpg"></div>
                            <div class="embed-responsive-item pt-1 pl-2">
                                <div class="product-card-badges"><span class="badge badge-primary badge-pill badge-sale mr-2">Akce</span><span class="badge badge-primary badge-pill badge-new mr-2">Novinka</span></div>
                            </div>
                        </div>
                    </a>
                    <div class="card-body text-center p-2 p-lg-3">
                        <h4 class="card-title fs-16 font-weight-bold">Product Title</h4>
                        <p class="card-text fs-12 m-0">Product description donec bibendum lorem ligula, id libero rhoncus qui…</p><span class="fs-14 text-muted px-2 text-line-through">22 490,-</span><span class="fs-18 text-red font-weight-bold px-2">17 890,-</span></div>
                    <div class="add-to-cart d-flex flex-wrap justify-content-center mb-2"><a class="btn btn-outline-primary fs-14 d-flex align-items-center m-1" role="button" href="kosik.html"><span>do košíku</span></a></div>
                </div>
                <div class="card product-card">
                    <a class="d-block" href="detail-produktu.html">
                        <div class="embed-responsive embed-responsive-1by1">
                            <div class="embed-responsive-item p-3"><img class="img-fluid" src="assets/img/products/thumbnails/file-02.jpg"></div>
                            <div class="embed-responsive-item pt-1 pl-2">
                                <div class="product-card-badges"><span class="badge badge-primary badge-pill badge-sale mr-2">Akce</span><span class="badge badge-primary badge-pill badge-new mr-2">Novinka</span></div>
                            </div>
                        </div>
                    </a>
                    <div class="card-body text-center p-2 p-lg-3">
                        <h4 class="card-title fs-16 font-weight-bold">Product Title</h4>
                        <p class="card-text fs-12 m-0">Product description donec bibendum lorem ligula, id libero rhoncus qui…</p><span class="fs-14 text-muted px-2 text-line-through">22 490,-</span><span class="fs-18 text-red font-weight-bold px-2">17 890,-</span></div>
                    <div class="add-to-cart d-flex flex-wrap justify-content-center mb-2"><a class="btn btn-outline-primary fs-14 d-flex align-items-center m-1" role="button" href="kosik.html"><span>do košíku</span></a></div>
                </div>
                <div class="card product-card">
                    <a class="d-block" href="detail-produktu.html">
                        <div class="embed-responsive embed-responsive-1by1">
                            <div class="embed-responsive-item p-3"><img class="img-fluid" src="assets/img/products/thumbnails/file-02.jpg"></div>
                            <div class="embed-responsive-item pt-1 pl-2">
                                <div class="product-card-badges"><span class="badge badge-primary badge-pill badge-sale mr-2">Akce</span><span class="badge badge-primary badge-pill badge-new mr-2">Novinka</span></div>
                            </div>
                        </div>
                    </a>
                    <div class="card-body text-center p-2 p-lg-3">
                        <h4 class="card-title fs-16 font-weight-bold">Product Title</h4>
                        <p class="card-text fs-12 m-0">Product description donec bibendum lorem ligula, id libero rhoncus qui…</p><span class="fs-14 text-muted px-2 text-line-through">22 490,-</span><span class="fs-18 text-red font-weight-bold px-2">17 890,-</span></div>
                    <div class="add-to-cart d-flex flex-wrap justify-content-center mb-2"><a class="btn btn-outline-primary fs-14 d-flex align-items-center m-1" role="button" href="kosik.html"><span>do košíku</span></a></div>
                </div>
                <div class="card product-card">
                    <a class="d-block" href="detail-produktu.html">
                        <div class="embed-responsive embed-responsive-1by1">
                            <div class="embed-responsive-item p-3"><img class="img-fluid" src="assets/img/products/thumbnails/file-02.jpg"></div>
                            <div class="embed-responsive-item pt-1 pl-2">
                                <div class="product-card-badges"><span class="badge badge-primary badge-pill badge-sale mr-2">Akce</span><span class="badge badge-primary badge-pill badge-new mr-2">Novinka</span></div>
                            </div>
                        </div>
                    </a>
                    <div class="card-body text-center p-2 p-lg-3">
                        <h4 class="card-title fs-16 font-weight-bold">Product Title</h4>
                        <p class="card-text fs-12 m-0">Product description donec bibendum lorem ligula, id libero rhoncus qui…</p><span class="fs-14 text-muted px-2 text-line-through">22 490,-</span><span class="fs-18 text-red font-weight-bold px-2">17 890,-</span></div>
                    <div class="add-to-cart d-flex flex-wrap justify-content-center mb-2"><a class="btn btn-outline-primary fs-14 d-flex align-items-center m-1" role="button" href="kosik.html"><span>do košíku</span></a></div>
                </div>
        </div>
        <div class="text-center"><button class="btn btn-primary mb-5" type="button">Načíst další</button></div>
        <div class="d-none d-sm-block"><nav>
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#" aria-label="Předchozí"><span aria-hidden="true">Předchozí</span></a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#" aria-label="Následující"><span aria-hidden="true">Následující</span></a></li>
    </ul>
</nav></div>
    </div>
    <div class="sidebar">
        <div class="sidebar-filter shadow-sm pt-2">
            <div class="filter-group active">
                <div class="filter-heading"><span>Skupina filtru</span><i class="fa fa-chevron-up"></i></div>
                <div class="filter-all-items">
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">25</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-8"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">14</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-19"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">14</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-7"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">7</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-6"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">68</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-5"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">15</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-26"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">25</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-27"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">14</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-28"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">14</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-29"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">7</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-30"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">68</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-31"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">15</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-20"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">25</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-21"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">14</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-22"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">14</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-23"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">7</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-24"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">68</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-25"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">15</span></div>
                </div>
            </div>
            <div class="filter-group">
                <div class="filter-heading"><span>Skupina filtru</span><i class="fa fa-chevron-down"></i></div>
                <div class="filter-all-items">
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-14"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">25</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-15"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">14</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-16"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">7</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-17"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">68</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-18"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">15</span></div>
                </div>
            </div>
            <div class="filter-group">
                <div class="filter-heading"><span>Skupina filtru</span><i class="fa fa-chevron-down"></i></div>
                <div class="filter-all-items">
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-9"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">25</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-10"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">14</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-11"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">7</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-12"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">68</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-13"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">15</span></div>
                </div>
            </div>
            <div class="filter-group">
                <div class="filter-heading"><span>Skupina filtru</span><i class="fa fa-chevron-down"></i></div>
                <div class="filter-all-items">
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-57"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">25</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-58"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">14</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-59"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">7</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-60"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">68</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-61"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">15</span></div>
                </div>
            </div>
            <div class="filter-group">
                <div class="filter-heading"><span>Skupina filtru</span><i class="fa fa-chevron-down"></i></div>
                <div class="filter-all-items">
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-52"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">25</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-53"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">14</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-54"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">7</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-55"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">68</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-56"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">15</span></div>
                </div>
            </div>
            <div class="filter-group">
                <div class="filter-heading"><span>Skupina filtru</span><i class="fa fa-chevron-down"></i></div>
                <div class="filter-all-items">
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-47"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">25</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-48"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">14</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-49"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">7</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-50"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">68</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-51"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">15</span></div>
                </div>
            </div>
            <div class="filter-group">
                <div class="filter-heading"><span>Skupina filtru</span><i class="fa fa-chevron-down"></i></div>
                <div class="filter-all-items">
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-42"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">25</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-43"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">14</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-44"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">7</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-45"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">68</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-46"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">15</span></div>
                </div>
            </div>
            <div class="filter-group">
                <div class="filter-heading"><span>Skupina filtru</span><i class="fa fa-chevron-down"></i></div>
                <div class="filter-all-items">
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-37"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">25</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-38"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">14</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-39"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">7</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-40"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">68</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-41"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">15</span></div>
                </div>
            </div>
            <div class="filter-group">
                <div class="filter-heading"><span>Skupina filtru</span><i class="fa fa-chevron-down"></i></div>
                <div class="filter-all-items">
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-32"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">25</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-33"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">14</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-34"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">7</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-35"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">68</span></div>
                    <div class="filter-item">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-36"><label class="form-check-label" for="formCheck-4">Položka filtru</label></div><span class="filter-item-count">15</span></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer class="footer">
        <div class="footer-rich p-5">
            <div class="container-fluid footer-rich-inner d-flex justify-content-between flex-wrap">
                <div class="m-3">
                    <h3 class="fs-20 font-weight-bold">DobráKamna s.r.o.</h3>
                    <p>Oprechtice 58
                        <br>739 21 Paskov</p>
                </div>
                <div class="m-3">
                    <h3 class="fs-20"><strong>Eshop</strong></h3>
                    <ul class="list-unstyled fs-14">
                        <li><a href="#">Košík</a></li>
                        <li><a href="#">Registrace</a></li>
                        <li><a href="#">Přihlášení</a></li>
                        <li><a href="#">Obchodní podmínky</a></li>
                        <li><a href="#">Reklamační řád</a></li>
                        <li><a href="#">Doprava</a></li>
                        <li></li>
                    </ul>
                </div>
                <div class="m-3">
                    <h3 class="fs-20"><strong>Kategorie</strong></h3>
                    <ul class="list-unstyled fs-14">
                        <li><a href="#">Krbová kamna</a></li>
                        <li><a href="#">Kachlová kamna</a></li>
                        <li><a href="#">Kamna s troubou</a></li>
                        <li><a href="#">Krbové vložky</a></li>
                        <li><a href="#">Kotle</a></li>
                        <li><a href="#">Příslušenství</a></li>
                        <li></li>
                    </ul>
                </div>
                <div class="m-3">
                    <h3 class="fs-20"><strong>Poradna</strong></h3>
                    <ul class="list-unstyled fs-14">
                        <li><a href="#">Košík</a></li>
                        <li><a href="#">Registrace</a></li>
                        <li><a href="#">Přihlášení</a></li>
                        <li><a href="#">Obchodní podmínky</a></li>
                        <li><a href="#">Reklamační řád</a></li>
                        <li><a href="#">Doprava</a></li>
                        <li></li>
                    </ul>
                </div>
                <div class="m-3">
                    <div class="d-flex align-items-center text text-nowrap mb-4"><i class="fa fa-phone fs-32 mr-2"></i>
                        <div class="d-flex flex-column"><span class="font-weight-bold fs-20">+420 774 145 752</span>
                            <p class="lh-12"><span class="fs-12">Po-Pá 8:00 - 16:30</span></p>
                        </div>
                    </div>
                    <div class="mb-4"><i class="fa fa-envelope-o mr-2 fs-20"></i><a href="#">info@dobrakamna.cz</a></div><a class="mr-4" href="#"><i class="fa fa-facebook fs-32 color-white"></i></a><a class="mr-4" href="#"><i class="fa fa-instagram fs-32 color-white"></i></a></div>
            </div>
        </div>
        <div class="footer-strip">
            <div class="container-fluid footer-strip-inner p-3 fs-14 text-center"><span>© Copyright 2020 <a href="https://www.dobrakamna.cz">DobráKamna.cz</a></span>
<span class="mx-3"> </span>
<span>Created by <a href="https://www.evolvedsolutions.cz">EvolvedSolutions.cz</a></span></div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>