include /src/views/mixins/devInfo
include /src/views/mixins/icon
include /src/views/mixins/imgAdvance
include /src/views/mixins/menuLink
include /src/views/mixins/newLine
include /src/views/mixins/repeat