//- Pouze základní js, struktura a importy

-
  var appRoot = require('app-root-path');

  // Classes
  var Settings = require(appRoot + '/modules/statica/classes/settingsClass.js');
  var Page = require(appRoot + '/modules/statica/classes/pageClass.js');
  var Data = require(appRoot + '/modules/statica/classes/dataClass.js');
  var Dummy = require(appRoot + '/modules/statica/classes/dummyClass.js');

  // Tools
  var { get, trim, isDev, randomNum, getAttachedFile, getListOfPages } = require(appRoot + '/modules/statica/tools/tools.js');

  // Variables Objects
  var settings = new Settings();
  
  //- var Page = require(appRoot + '/modules/statica/classes/pageClass.js');
  //- var page = new Page(settings.site);
  
  //- // Settings
  //- var defaultSettings = require(appRoot + '/modules/statica/defaultSettings.js');
  //- var customSettings = require(appRoot + '/config/settings.js');
  //- var Settings = require(appRoot + '/modules/statica/classes/settingsClass.js');
  //- var settings = new Settings(Object.assign(defaultSettings, customSettings));

  //- // Tools


  // Body Class Inicialization
  var bodyClass = '';

include ../mixins
include /src/views/components

block settings-default
block settings-custom 
block settings-page

doctype html
html
  
  block head-wrap
    head
      block head
        block title
        block description
        block favicon
        block social
        block style-internal
        block styles
        block fonts
  
  body(class= bodyClass)
    block body
      block top
      block header
      block main
      block footer
      block bottom

