extends core

block append head-wrap
  +n

block prepend head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width,minimum-scale=1,initial-scale=1,viewport-fit=cover")

block append description  
  meta(name="description", content= get(page.description) )
    
block append favicon
  if get(settings.render.head.favicon)
    +n
    //  Favicon
    link(rel="apple-touch-icon", sizes="180x180", href= getAttachedFile( get(settings.config.path.assets.favicon) + "/apple-touch-icon.png"))
    link(rel="icon", type="image/png", sizes="32x32", href= getAttachedFile( get(settings.config.path.assets.favicon) + "/favicon-32x32.png"))
    link(rel="icon", type="image/png", sizes="16x16", href= getAttachedFile( get(settings.config.path.assets.favicon) + "/favicon-16x16.png"))
    link(rel="manifest", href= getAttachedFile( get(settings.config.path.assets.favicon) + "/manifest.json"))
    link(rel="mask-icon", href= getAttachedFile( get(settings.config.path.assets.favicon) + "/safari-pinned-tab.svg", color="#222"))
    link(rel="shortcut icon", href= getAttachedFile( get(settings.config.path.assets.favicon) + "/favicon.ico"))
    meta(name="msapplication-config", content= getAttachedFile( get(settings.config.path.assets.favicon) + "/browserconfig.xml"))
    meta(name="application-name", content= get(settings.site.name))
    if get(settings.site.theme.color.primary)
      meta(name="theme-color", content= get(settings.site.theme.color.primary))

block append social
  if get(settings.render.head.social)
    +n
    // Social
    meta(property="og:title", content= get(page.title) )
    meta(property="og:description", content= get(page.og.og_description) )
    meta(property="og:image", content= "")
    meta(property="og:url", content= get(settings.site.url) )
    meta(property="og:site_name", content= get(settings.site.url) )
    meta(property="og:type", content="website")

block append style-internal
  +n
  style.
    .icon, .icon svg {width: 1rem; height: 1rem}
      
//- External Styles
block append styles
  +n
  //  Styles

block append fonts
  +n
  // Fonts
    
block append head
  if get(settings.site.service.ga.id)
    +n
    // Global site tag (gtag.js) - Google Analytics 
    script(async, src="https://www.googletagmanager.com/gtag/js?id=" + get(settings.site.service.ga.id))
    script.
      window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', '#{get(settings.site.service.ga.id)}');


block append top

  if get(settings.render.moveOnTop)
    div#nahoru

block append header
  +n

block append footer
  +n

block append bottom
  if get(settings.render.moveOnTop)
    a.move-on-top(href="#nahoru", aria-label="zpět na začátek stránky")
    