extends /src/views/custom/templates/base

block append settings-page 
  //- - settings.page.group = "";
  - settings.page.title_base = "Obsah košíku";
  //- - settings.page.description = "";

block append content
    
  .group-of-steps.mb-5.d-none.d-sm-flex
    +step('Košík','1').step-active
    +step('Doprava a platba','2')
    +step('Dodací údaje','3')
    +step('Souhrn a odeslání','4')

  h1.fs-3.mb-4 Obsah košíku
  .group-of-cart-item-rows.mb-5

    each val in fake.product
      -
        let product = new fakeData();

      .item-row.fs-8.text-muted.border-bottom.border-g200
        .item-row-group.flex-grow-1
          .item-row-col.d-none.d-sm-block
            .w-2rem
              a(href='#')
                img.img-fluid(src='https://via.placeholder.com/100x100', alt='placeholder')
          .item-row-col
            .fs-7.fw-bold.mb-1
              a.link-dark.text-decoration-none(href='#')= val
            div (Počet ks v balení: ks)
        .item-row-group
          .item-row-col.w-5rem.text-end.d-none.d-sm-block
            .text-nowrap
              | 20×100 ks
          .item-row-col
            input.form-control.form-control-sm.text-center.w-2rem.px-1(type='text', value='1')
          .item-row-col.w-4rem.text-center.d-none.d-sm-block
            .fw-bold.text-success skladem
          .item-row-group.d-block.d-md-flex
            .item-row-col.w-5rem.text-end
              .text-nowrap= product.price()
            .item-row-col.w-5rem.text-end
              .text-nowrap= product.price()
          .item-row-col.ms-2
            button.item-row-del.btn(type='button')
              i.bi.bi-x-square-fill
 

  .text-end.my-3
    .fs-5
      | Celkem 
      span.fw-bold 15
      |  položek za 
      span.fw-bold.text-success 9 745,44 Kč
      |  s DPH
    .fs-7 ( 7 654,23 Kč bez DPH )
  
  .text-end.mt-5
    a.btn.btn-xl.btn-primary(href='kosik-2-doprava-a-platba.html')
      | Doprava a platba
      i.bi.bi-chevron-right.ms-3
