.row
  .col-md-4
    .p-3.mb-3.bg-primary.text-white Brand Primární
  .col-md-4
    .p-3.mb-3.bg-secondary.text-white Brand Sekundární
  .col-md-4
    .p-3.mb-3.bg-success.text-white Success
  .col-md-4
    .p-3.mb-3.bg-danger.text-white Danger
  .col-md-4
    .p-3.mb-3.bg-warning.text-dark Warning
  .col-md-4
    .p-3.mb-3.bg-info.text-dark Info
  .col-md-4
    .p-3.mb-3.bg-light.text-dark Light
  .col-md-4
    .p-3.mb-3.bg-dark.text-white Dark

.row.font-monospace
  
  .d-flex.row-cols-2.my-2
    .p-3.border.border-300.rounded-start.border-end-0 primary-lighter
    .bg-primary-lighter.rounded-end
  
  .d-flex.row-cols-2.my-2
    .p-3.border.border-300.rounded-start.border-end-0.text-300 primary-light
    .bg-primary-light.rounded-end

  .d-flex.row-cols-2.my-2
    .p-3.py-4.border.border-300.rounded-start.border-end-0
      strong.d-block $primary
      =site('theme_color_primary')
    .bg-primary.rounded-end

  .d-flex.row-cols-2.my-2
    .p-3.border.border-300.rounded-start.border-end-0 primary-dark
    .bg-primary-dark.rounded-end
  
  .d-flex.row-cols-2.my-2
    .p-3.border.border-300.rounded-start.border-end-0 primary-darker
    .bg-primary-darker.rounded-end
