.container.p-0
  footer.footer#kontakty
    .footer-inner
      .footer-item
        .icon.icon-1em.inline.baseline.mr-0-25
          +icon('phone')
        | +420 608 873 571

      .footer-item
        .icon.icon-1em.inline.baseline.mr-0-5
          +icon('envelope-send')  
        a(href="mailto:ahoj@tomasjindrich.cz") ahoj@tomasjindrich.cz
      
      .footer-item
        .icon.icon-1em.inline.baseline.mr-0-5
          +icon('briefcase')
        | IČO 74301349

      .footer-item
        .icon.icon-1em.inline.baseline.mr-0-5
          +icon('map-marker')
        | Praha 7 Bubny