#nahoru
header.header
  .header-left
    a.icon.icon-1-5em.mr-0-5(href="https://www.facebook.com/tomasjindrichu/")
      +icon('facebook')
    a.icon.icon-1-5em(href="mailto:ahoj@tomasjindrich.cz")
      +icon('envelope-send')
  .header-center
    a.logo(href="/")
      | Tomáš 
      span &amp;
      |  Jindřich
  .header-right
    nav.main-menu
      .main-menu-overlay-open
        .icon.icon-1em.inline.baseline.mr-0-5
          +icon('menu-hamburger')
        | Projekty


+n
.main-menu-overlay
  .main-menu-overlay-close &times;
  .main-menu-overlay-content
    nav.main-menu
      h2.sb-sm Projekty
      ul.mb-3
        li
          a.link(href= getPermalink('nedelni-pohadky'))
            | Nedělní pohádky
          span.badge ilustrace
        li
          a.link(href= getPermalink('redmonster'))
            | Redmonster
          span.badge motiondesign
        li
          a.link(href= getPermalink('cbas-maskot'))
            | Český badmintonový svaz
          span.badge maskot
        li
          a.link(href= getPermalink('mobilni-hra-train'))
            | iPhone hra Train
          span.badge gamedesign