.item-row,
.item-row-group {
  display: flex;
  align-items: center;
}

.item-row {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.item-row-sm {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.item-row {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.item-row-col {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  line-height: 1.2em;
}

// delete icon
.item-row-del {
  padding: 0;
  line-height: 0;
  color: $gray-200;

  &:hover {
    color: $danger;
  }
}