.item-row.fs-8.text-muted.border-bottom.border-g200
  .item-row-group.flex-grow-1
    .item-row-col.d-none.d-sm-block
      .w-2
        a(href='#')
          img.img-fluid(src='https://via.placeholder.com/100x100', alt='placeholder')
    .item-row-col
      .fs-7.fw-bold
        a.link-dark.text-decoration-none(href='#')
          | Toto je název produktu
  .item-row-group
    
    .item-row-col
      | 1&times;
    .item-row-group.d-block.d-md-flex
      .item-row-col.w-5.text-end
        .text-nowrap
          | 990,00 Kč
      .item-row-col.w-5.text-end
        .text-nowrap
          | 1 197,00 Kč
    