.card
  .ratio.ratio-1x1
    div.d-flex.align-items-center.justify-content-center
      img.mw-100.mh-100(src="https://via.placeholder.com/500x500", alt="") 
    
    //- badge container
    .ps-2.pt-1.text-start
      .badge.bg-success Novinka
      .badge.bg-warning.text-dark -20%
  
  .card-body.text-center.p-3
    
    .card-title.fw-bold.lh-sm Hodinky s vodotryskem
    .card-text.lh-sm.fs-8.mb-3 U krátkých titulků a popisků zarovnáme na střed.
    
    .mt-3.d-flex.justify-content-between.align-items-center.debug
      .text-start.text-nowrap.lh-1
        div.fs-5.fw-bold.text-danger(aria-label="Cena s DPH") 5 678,-
        div.fs-9(aria-label="cena bez DPH") bez DPH 
          span.fw-bold 4 490,-
      a.btn.btn-outline-primary(href="#") Koupit