.bd-example

  .row.row-cols-2.row-cols-md-3
    
    .col
      .card
        img.card-img-top(src="https://via.placeholder.com/400x300", alt="") 
        .card-body
          h5.card-title Titulek
          p.card-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem corporis ullam numquam quae illo ea est et mollitia eius.
          a.btn.btn-primary(href="#") Více zde
    
    .col
      .card
        img.card-img-top(src="https://via.placeholder.com/400x300", alt="") 
        .card-body
          h5.card-title Titulek
          p.card-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem corporis ullam numquam quae illo ea est et mollitia eius.
          a.btn.btn-primary(href="#") Více zde
    
    .col
      .card
        .card-body.text-center.p-1
          .ratio.ratio-1x1
            div.d-flex.align-items-center.justify-content-center
              img.mw-100.mh-100(src="https://via.placeholder.com/500x500", alt="") 
            .p-2.text-start
              .badge.bg-success Novinka
              .badge.bg-warning.text-dark -20%
          .card-title.fw-bold.mt-3.lh-sm Hodinky s vodotryskem
          .card-text.lh-sm.fs-7.mb-3 U krátkých titulků a popisků zarovnáme na střed.
          
          .d-flex.flex-row-reverse.justify-content-center
            span.fs-4.lh-1.fw-bold.text-danger.mx-2(aria-label="nová cena") 5 678,-
            span.text-muted.text-decoration-line-through.mx-2(aria-label="původní cena před slevou") 7 490,-
          .my-3.d-flex.justify-content-center
            label.visually-hidden(for="inputQuantity") Počet kusů
            input.mw-3rem.mx-1.text-center.form-control#inputQuantity(type="text", value="1")
            a.btn.btn-outline-primary.mx-1(href="#") Koupit
    
    mixin product-card
      .col
        .card
          .ratio.ratio-1x1
            div.d-flex.align-items-center.justify-content-center
              img.mw-100.mh-100(src="https://via.placeholder.com/500x500", alt="") 
            
            //- badge container
            .ps-2.pt-1.text-start
              .badge.bg-success Novinka
              .badge.bg-warning.text-dark -20%
          
          .card-body.text-center.p-3
            
            .card-title.fw-bold.lh-sm Hodinky s vodotryskem
            .card-text.lh-sm.fs-8.mb-3 U krátkých titulků a popisků zarovnáme na střed.
            
            .mt-3.d-flex.justify-content-between.align-items-center
              .text-start
                div.fs-5.lh-1.fw-bold.text-danger(aria-label="Cena s DPH") 5 678,-
                div.fs-9(aria-label="cena bez DPH") bez DPH 
                  span.fw-bold 4 490,-
              a.btn.btn-outline-primary(href="#") Koupit
    
    +product-card
    +product-card
    +product-card
    +product-card
    +product-card

.bd-example
  button.btn.btn-primary(type="button") Hlavní tlačítko
  button.btn.btn-outline-secondary(type="button") Alternativní
  button.btn.btn-primary(type="button") Hlavní tlačítko
    i.ms-2.bi-arrow-right-short
  button.btn.btn-outline-secondary(type="button") Alternativní
    i.ms-2.bi-arrow-right-short
  button.btn.btn-danger(type="button") Odstranit
    i.ms-2.bi-x-circle
  button.btn.btn-outline-danger(type="button") Odstranit
    i.ms-2.bi-x-circle

.bd-example
  button.btn.btn-primary(type="button") Primary
  button.btn.btn-secondary(type="button") Secondary
  button.btn.btn-success(type="button") Success
  button.btn.btn-danger(type="button") Danger
  button.btn.btn-warning(type="button") Warning
  button.btn.btn-info(type="button") Info
  button.btn.btn-light(type="button") Light
  button.btn.btn-dark(type="button") Dark
  button.btn.btn-link(type="button") Link

.bd-example
  button.btn.btn-outline-primary(type="button") Primary
  button.btn.btn-outline-secondary(type="button") Secondary
  button.btn.btn-outline-success(type="button") Success
  button.btn.btn-outline-danger(type="button") Danger
  button.btn.btn-outline-warning(type="button") Warning
  button.btn.btn-outline-info(type="button") Info
  button.btn.btn-outline-light(type="button") Light
  button.btn.btn-outline-dark(type="button") Dark

.bd-example
  button.btn.btn-primary.btn-lg(type="button") Velké tlačítko
  button.btn.btn-secondary.btn-lg(type="button") Velké tlačítko

.bd-example
  button.btn.btn-primary.btn-sm(type="button") Malé tlačítko
  button.btn.btn-secondary.btn-sm(type="button") Malé tlačítko

.bd-example
  button.btn.btn-lg.btn-primary(type="button", disabled) Neaktivní tlačítko
  button.btn.btn-secondary.btn-lg(type="button", disabled) Neaktivní tlačítko

.bd-example

  .alert.alert-primary.d-flex.align-items-center(role="alert")
    i.me-3.fs-2.lh-1.bi-exclamation-triangle
    div Hláška v daném barevném kontextu a ikonkou

  .alert.alert-info.d-flex.align-items-center(role="alert")
    i.me-3.fs-2.lh-1.bi-info-circle
    div Hláška v daném barevném kontextu a ikonkou

  .alert.alert-success.d-flex.align-items-center(role="alert")
    i.me-3.fs-2.lh-1.bi-check-circle
    div Hláška v daném barevném kontextu a ikonkou

  .alert.alert-danger.d-flex.align-items-center(role="alert")
    i.me-3.fs-2.lh-1.bi-x-circle
    div Hláška v daném barevném kontextu a ikonkou

.bd-example

  .alert.alert-success.text-center(role="alert")
    i.bi-check-circle-fill.display-3.d-block.mt-4.opacity-0-4
    h2.my-3.alert-heading Výborně!
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, non deserunt. Aut voluptatum modi at!

    