extends ../views/template/base

block append settings-page 
  - settings.page.group = "homepage";
  //- - settings.page.title_base = "";
  //- - settings.page.description = "";

block append content
  
  mixin product-card
    include ../views/components/product-card

  


  .row.row-cols-lg-4.g-3.flex-wrap
  
    +repeat(24)
      .col
        +product-card




  