/* Imports */
/* ================================================= */
.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-28 {
  font-size: 28px;
}

.fs-32 {
  font-size: 32px;
}

.fs-36 {
  font-size: 36px;
}

.fs-42 {
  font-size: 42px;
}

.fs-48 {
  font-size: 48px;
}

.fs-64 {
  font-size: 64px;
}

.grid {
  display: grid;
  grid-gap: 1rem;
}

.grid-col-xs {
  grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
}

.grid-col-sm {
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
}

.grid-col-md {
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.grid-col-lg {
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
}

.grid-gap-0 {
  grid-gap: 0;
}

.grid-gap-1 {
  grid-gap: 0.25rem;
}

.grid-gap-2 {
  grid-gap: 0.5rem;
}

.grid-gap-3 {
  grid-gap: 1rem;
}

.grid-gap-4 {
  grid-gap: 1.5rem;
}

.grid-gap-5 {
  grid-gap: 3rem;
}

.lh-0 {
  line-height: 0;
}

.lh-10 {
  line-height: 10px;
}

.lh-11 {
  line-height: 11px;
}

.lh-12 {
  line-height: 12px;
}

.lh-13 {
  line-height: 13px;
}

.lh-14 {
  line-height: 14px;
}

.lh-16 {
  line-height: 16px;
}

.lh-20 {
  line-height: 20px;
}

.lh-24 {
  line-height: 24px;
}

.lh-1em {
  line-height: 1em;
}

.lh-1-2em {
  line-height: 1.2em;
}

.lh-1-5em {
  line-height: 1.5em;
}

.lh-1-8em {
  line-height: 1.8em;
}

.lh-2em {
  line-height: 2em;
}

.lh-2-5em {
  line-height: 2.5em;
}

.lh-3em {
  line-height: 3em;
}

.ease {
  transition: all 0.2s ease;
}

.text-line-through {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline;
}

.max-w-1 {
  max-width: 1rem;
}

.max-w-1-5 {
  max-width: 1.5rem;
}

.max-w-2 {
  max-width: 2rem;
}

.max-w-2-5 {
  max-width: 2.5rem;
}

.max-w-3 {
  max-width: 3rem;
}

.max-w-4 {
  max-width: 4rem;
}

.max-w-5 {
  max-width: 5rem;
}

.max-w-6 {
  max-width: 6rem;
}

.max-w-7 {
  max-width: 7rem;
}

.max-w-8 {
  max-width: 8rem;
}

.max-w-9 {
  max-width: 9rem;
}

.max-w-10 {
  max-width: 10rem;
}

.max-w-11 {
  max-width: 11rem;
}

.max-w-12 {
  max-width: 12rem;
}

.max-w-13 {
  max-width: 13rem;
}

.max-w-14 {
  max-width: 14rem;
}

.max-w-15 {
  max-width: 15rem;
}

.max-w-16 {
  max-width: 16rem;
}

.max-w-17 {
  max-width: 17rem;
}

.max-w-18 {
  max-width: 18rem;
}

.max-w-19 {
  max-width: 19rem;
}

.max-w-20 {
  max-width: 20rem;
}

.max-w-25 {
  max-width: 25rem;
}

.max-w-30 {
  max-width: 30rem;
}

.max-w-35 {
  max-width: 35rem;
}

.max-w-40 {
  max-width: 40rem;
}

.max-w-45 {
  max-width: 45rem;
}

.max-w-50 {
  max-width: 50rem;
}

.max-w-55 {
  max-width: 55rem;
}

.max-w-60 {
  max-width: 60rem;
}

.max-w-65 {
  max-width: 65rem;
}

.max-w-70 {
  max-width: 70rem;
}

.max-w-75 {
  max-width: 75rem;
}

.max-w-80 {
  max-width: 80rem;
}

.max-w-85 {
  max-width: 85rem;
}

.w-1 {
  width: 1rem;
}

.w-1-5 {
  width: 1.5rem;
}

.w-2 {
  width: 2rem;
}

.w-2-5 {
  width: 2.5rem;
}

.w-3 {
  width: 3rem;
}

.w-4 {
  width: 4rem;
}

.w-5 {
  width: 5rem;
}

.w-6 {
  width: 6rem;
}

.w-7 {
  width: 7rem;
}

.w-8 {
  width: 8rem;
}

.w-9 {
  width: 9rem;
}

.w-10 {
  width: 10rem;
}

.w-11 {
  width: 11rem;
}

.w-12 {
  width: 12rem;
}

.w-13 {
  width: 13rem;
}

.w-14 {
  width: 14rem;
}

.w-15 {
  width: 15rem;
}

.w-16 {
  width: 16rem;
}

.w-17 {
  width: 17rem;
}

.w-18 {
  width: 18rem;
}

.w-19 {
  width: 19rem;
}

.h-1 {
  height: 1rem;
}

.h-1-5 {
  height: 1.5rem;
}

.h-2 {
  height: 2rem;
}

.h-2-5 {
  height: 2.5rem;
}

.h-3 {
  height: 3rem;
}

.h-4 {
  height: 4rem;
}

.h-5 {
  height: 5rem;
}

.h-6 {
  height: 6rem;
}

.h-7 {
  height: 7rem;
}

.h-8 {
  height: 8rem;
}

.h-9 {
  height: 9rem;
}

.h-10 {
  height: 10rem;
}

.h-11 {
  height: 11rem;
}

.h-12 {
  height: 12rem;
}

.h-13 {
  height: 13rem;
}

.h-14 {
  height: 14rem;
}

.h-15 {
  height: 15rem;
}

.h-16 {
  height: 16rem;
}

.h-17 {
  height: 17rem;
}

.h-18 {
  height: 18rem;
}

.h-19 {
  height: 19rem;
}

/* Components */
/* layout */
/* ecommerce */
.quantity-increment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity-increment button {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 1.5rem;
  padding: 0;
  margin-left: 0.2em;
  margin-right: 0.2em;
  color: #ced4da;
  transition: all 0.2s ease;
}

.quantity-increment button:hover {
  color: #D01A00;
}

.quantity-increment button:disabled,
.quantity-increment button[disabled] {
  color: #ced4da;
}

.quantity-increment .amount {
  text-align: center;
  border: none;
  width: 100%;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
}

.filter-bar .order-by-list li {
  padding: 0 0.35rem;
}

.filter-bar .order-by-list .active {
  font-weight: bold;
}

.filter-item,
.filter-heading {
  padding: 0.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.filter-heading {
  margin: 0.5em 0;
  font-weight: bold;
}

.filter-item-count {
  font-size: 11px;
  color: #adb5bd;
}

.filter-group {
  padding: 0 1em;
  border-bottom: 1px solid #dee2e6;
}

.filter-all-items {
  padding-bottom: 1em;
  display: none;
}

.filter-group.active .filter-all-items {
  display: block;
}

/* Custom Utilities */
/* ================================================= */
.text-red {
  color: #D01A00;
}

.text-gray {
  color: #667888;
}

.text-green {
  color: #009D5A;
}

.links-primary a {
  color: #D01A00;
}

.text-g100 {
  color: #f8f9fa;
}

.text-g200 {
  color: #e9ecef;
}

.text-g300 {
  color: #dee2e6;
}

.text-g400 {
  color: #ced4da;
}

.text-g500 {
  color: #adb5bd;
}

.text-g600 {
  color: #6c757d;
}

.text-g700 {
  color: #495057;
}

.text-g800 {
  color: #343a40;
}

.text-g900 {
  color: #212529;
}

/* Custom Components and overides */
/* ================================================= */
.container-fluid {
  max-width: 1570px;
}

.btn {
  transition: all 0.2s ease;
}

.btn-outline-primary {
  color: #2A2B2C;
}

.breadcrumb {
  padding: 0;
  margin-bottom: 20px;
  background-color: transparent;
  font-size: 13px;
}

.breadcrumb .breadcrumb-item.home {
  font-size: 20px;
  line-height: 0;
  margin-top: -3px;
}

.badge-new {
  background-color: #20c997;
}

.navbar {
  padding: 0;
  padding-right: 1rem;
}

@media (min-width: 992px) {
  .navbar-collapse {
    order: -1;
  }
}

.navbar .container-fluid {
  padding: 0;
}

.navbar .nav-link.active {
  border-bottom: 5px solid #D01A00;
}

.navbar-brand {
  order: -2;
  max-width: 9rem;
  padding: 1rem;
  background-color: #D01A00;
}

@media (min-width: 1200px) {
  .navbar-brand {
    max-width: 12rem;
    padding: 2rem;
    margin-bottom: -20px;
  }
}

.sidebar {
  margin-left: 60px;
  flex-basis: 250px;
  flex-grow: 0;
  flex-shrink: 0;
}

@media only screen and (max-width: 992px) {
  .sidebar {
    margin-left: 20px;
    flex-basis: 220px;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

.content {
  flex-grow: 1;
}

.feature-card.embed-responsive::before {
  padding-top: 45%;
}

.feature-card-heading span {
  font-size: 32px;
}

@media (min-width: 576px) {
  .feature-card-heading span {
    font-size: 48px;
  }
}

@media (min-width: 992px) {
  .feature-card.embed-responsive::before {
    padding-top: 100%;
  }
}

@media (min-width: 1200px) {
  .feature-card-heading span {
    font-size: 60px;
  }
}

.section-partners-inner {
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.section-partners-inner img {
  margin: 1rem;
  max-width: 150px;
  max-height: 50px;
}

/* ------ Category Box ------ */
.category-boxes {
  display: flex;
  flex-wrap: wrap;
}

.category-box {
  padding: 2rem;
  flex-basis: 100%;
}

.category-box-img {
  margin-bottom: 15px;
  margin-right: 30px;
  max-width: 80px;
}

.category-box-img img {
  width: 100%;
  height: auto;
}

.category-box-heading {
  margin-bottom: 10px;
  font-size: 24px;
  color: #D01A00;
}

.category-box-subs {
  margin: 0;
}

.category-box-subs li {
  padding: 2px 0;
}

.category-box-subs a {
  color: #667888;
  text-decoration: underline;
}

@media only screen and (min-width: 576px) {
  .category-box {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    box-shadow: 1px 0 0 0 #E3E6E8, 0 1px 0 0 #E3E6E8, 1px 1px 0 0 #E3E6E8, 1px 0 0 0 #E3E6E8 inset, 0 1px 0 0 #E3E6E8 inset;
  }
}

@media only screen and (min-width: 992px) {
  .category-box {
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .category-box-heading {
    font-size: 28px;
  }
}

@media only screen and (min-width: 992px) {
  .category-box-img {
    max-width: 150px;
  }
}

@media only screen and (min-width: 1200px) {
  .category-box {
    flex-basis: 33.3%;
  }
}

.footer-rich {
  color: #E3E6E8;
  background-color: #2A2B2C;
}

.footer-rich a {
  color: #9A9FA4;
}

.footer-rich a:hover {
  color: #E3E6E8;
}

.footer-rich ul li {
  padding: 0.3em 0;
}

.footer-strip {
  background-color: #161616;
  color: #9A9FA4;
}

.footer-strip a {
  color: #9A9FA4;
}

.product-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 1rem;
}

.product-cards-grid-smaller {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  grid-gap: 1rem;
}

@media only screen and (max-width: 992px) {
  .product-cards-grid-smaller {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }
}

/* Product page */
.product-left-col {
  flex-basis: 35rem;
}

.product-right-col {
  flex-basis: 30rem;
  flex-grow: 0;
}

.product-table-primary-info td, .product-table-primary-info th {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.product-table-primary-info th {
  padding-left: 0;
}

.product-table-primary-info tr {
  border-bottom: 1px solid #e9ecef;
}

.product-tabs .tab-pane {
  margin-bottom: 3rem;
  padding: 2rem;
  border: 1px solid #e9ecef;
  border-top: none;
}

.postit {
  padding: 1.5rem;
  padding-bottom: 1rem;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  color: #6c757d;
  font-size: 14px;
}

.postit a {
  color: #6c757d;
  text-decoration: underline;
}

.postit-heading {
  margin-bottom: 15px;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  color: #6c757d;
}
