@import "bootstrap/functions";
@import "bootstrap/variables";

//  *  *  *

// vloží znovu vygenerované reboot hodnoty, fonty, barvy atd
$module-bootstrap-override-reboot: true;

//  *  *  *

// updated theme colors
$primary:       #8bca7e;
$secondary:     #ffd772;
$success:       $primary;

// updated colors
$green:         $primary;

$background-colors-append: (
  "primary-lighter": tint-color($primary, 80%),
  "primary-light": tint-color($primary, 40%),
  "primary-dark": shade-color($primary, 20%),
  "primary-darker": shade-color($primary, 40%),
);

// barvy které chci předat pouze .text-color classes
// přepíše všechna původní nastavení.
$text-colors-append: map-merge((
  "muted": $gray-500,
  // "muted": $gray-500,
  // "muted": $gray-500,
  ), $grays);

//  *  *  *

// Typografie
// $font-family-base     : 'PT Sans', sans-serif;
// $headings-font-family : 'Poppins', sans-serif;
$body-color           : $gray-900; // barva textu
$headings-color       : $primary; // barva headings, titulků
$link-color           : $secondary;
$link-hover-color     : shift-color($link-color, $link-shade-percentage);


//  *  *  * STOP EDITING HERE


// všem výše nespecifikovaným utility třídám a komponentám nastav...
$utility-colors-append: ($grays);
