@import "bootstrap/functions";
@import "bootstrap/variables";

//  *  *  *

// vloží znovu vygenerované reboot hodnoty, fonty, barvy atd
$module-bootstrap-override-reboot: true;

// negativní marginy: defaultně nejsou v dist verzi bootstrapu vygenerovány 
$process-negative-margins: true;

//  *  *  *

// updated theme colors
$primary:       #0b5626; 

$secondary:     #1c2536;
$success:       $primary;

// updated colors
$green:         $primary;

// new colors
$primary-light: #368618;
$color-santafe: #b6704e;

// všem  utility třídám a komponentám nastav...
$utility-colors-append: map-merge((
  "primary-light": $primary-light,
), $grays);

// specifickým utility třídám navíc přidej...
$text-colors-append: (
  "color-santafe": $color-santafe,
  "muted": $gray-500,
);
  

//  *  *  *

// Typografie
$font-family-base     : 'PT Sans', sans-serif;
$headings-font-family : 'Poppins', sans-serif;
$body-color           : $gray-900; // barva textu
$headings-color       : $primary; // barva headings, titulků
$link-color           : $secondary;
$link-hover-color     : shift-color($link-color, $link-shade-percentage);


//  *  *  * STOP EDITING HERE


