footer.footer

  .bg-primary.py-5.text-light
    .container-xxl

      .row.row-cols-1.row-cols-sm-3.row-cols-lg-6
        .col
          .d-flex.align-items-center
            i.me-2.bi-clock.fs-1
            .lh-sm
              .text-nowrap Dnes u nás,
              .text-nowrap zítra u vás
        .col
          .d-flex.align-items-center
            i.me-2.bi-box-seam.fs-1
            .lh-sm
              .text-nowrap Skladem
              .text-nowrap 99 % produktů
        .col
          .d-flex.align-items-center
            i.me-2.bi-truck.fs-1
            .lh-sm
              .text-nowrap Doprava zdarma
              .text-nowrap.fs-9 dle kraje a výše objednávky
        .col
          .d-flex.align-items-center
            i.me-2.bi-trophy.fs-1
            .lh-sm
              .text-nowrap Největší eshop
              .text-nowrap s obaly v ČR
        .col
          .d-flex.align-items-center
            i.me-2.bi-clock.fs-1
            .lh-sm
              .text-nowrap BIO obaly
              .text-nowrap balíme ekologicky
        .col
          .d-flex.align-items-center
            i.me-2.bi-gear.fs-1
            .lh-sm
              .text-nowrap Potisk
              .text-nowrap na zakázku



  .bg-primary-light.py-5.text-light
    .container-xxl

      .d-flex.mb-5
        .mw-12rem
          img.img-fluid(src= getAttachedFile('img/logo.png'), alt="")
        .w-6rem
        .d-flex
          i.bi-telephone-fill.display-4.font-headings.me-4
          div 
            | Potřebujete poradit? Volejte
            .fs-3.fw-bold +420 323 619 887 nebo +420 323 619 888

      .d-flex.flex-wrap.justify-content-between
        
        div
          h3.text-uppercase.fw-normal.fs-4.mb-4 Sídlo firmy, vzorkovna, sklad
          p 
            | DEKOS R, s.r.o.<br>
            | Veděradská 2152<br>
            | 251 01 Říčany u Prahy<br>
            | +420 323 619 887, +420 323 619 888<br>
            a(href="mailto:info@dekos-r.cz") 
        
        div
          h3.text-uppercase.fw-normal.fs-4.mb-4 Nákupní rádce
          ul.nav.flex-column.all-nav-items-p-sm.all-nav-items-light
            li.nav-item 
              a.nav-link(href="") Doprava
            li.nav-item
              a.nav-link(href="") Platba
            li.nav-item
              a.nav-link(href="") Obchodní podmínky
            li.nav-item
              a.nav-link(href="") Reklamace
            li.nav-item
              a.nav-link(href="") Jak nakupovat
            li.nav-item
              a.nav-link(href="") Ochrana osobních údajů
        
        div
          h3.text-uppercase.fw-normal.fs-4.mb-4 Informace
          ul.nav.flex-column.all-nav-items-p-sm.all-nav-items-light
            li.nav-item 
              a.nav-link(href="") Profil společnosti
            li.nav-item
              a.nav-link(href="") Katalog ke stažení
            li.nav-item
              a.nav-link(href="") Výroba na zakázku
            li.nav-item
              a.nav-link(href="") Pomáháme
            li.nav-item
              a.nav-link(href="") Hledáme kolegy
            li.nav-item
              a.nav-link(href="") Kontakt


        div 
          h3.text-uppercase.fw-normal.fs-4.mb-4 EMAILOVÝ ZPRAVODAJ
          .mb-3
            label.form-label(for="exampleFormControlInput1") Novinky a akční nabídky na váš e-mail
            input.border-0.form-control#exampleFormControlInput1(type="email", placeholder="Zadejte Vaši emailovou adresu")
            button.mt-2.btn.btn-primary.text-uppercase Přihlásit k odběru

      p.mt-5
      | Podle zákona o evidenci tržeb je prodávající povinen vystavit kupujícímu účtenku. <br>
      | Zároveň je povinen zaevidovat přijatou tržbu u správce daně on-line; v případě technického výpadku pak nejpozději do 48 hodin.

      p.mt-4
        | © 2021 Dekos R s.r.o. obaly, obalové materiály, jednorázové nádobí. All Rights Reserved. Developed by Go1.CZ+420 323 619 887, +420 323 619 888, info@dekos-r.cz
