footer.footer

  .section.gradient.text-light
    .container-xxl

      .row
        
        .col 
          .pb-1
            i.me-2.bi-telephone
            | +420 775 125 789
          .pb-1.link-light
            i.me-2.bi-envelope
            a.link-light(href="mailto:abena@untraco.cz") abena@untraco.cz

        .col.d-flex
          i.me-2.bi-geo-alt
          div
            | Untraco, v. o. s. 
            br
            | Slavíkova 6139/18c
            br
            | 708 00 Ostrava – Poruba

        .col 
          ul.nav.flex-column
            li.nav-item
              a.p-0.nav-link.link-light.text-decoration-underline(href="ukazka-textova-stranka.html") Všeobecné podmínky
            li.nav-item
              a.p-0.nav-link.link-light.text-decoration-underline(href="ukazka-textova-stranka.html") Doručení zboží
            li.nav-item
              a.p-0.nav-link.link-light.text-decoration-underline(href="ukazka-textova-stranka.html") Ochrana osobních ůdajů

        .col.d-flex.justify-content-end
          div
            a.btn.btn-outline-light(href="https://www.facebook.com/inkontinence/")
              i.me-2.bi-facebook
              | Jsme na Facebooku

  .py-3.bg-dark.text-secondary.fs-7
    .container-xxl
      .d-flex.justify-content-between
        div &copy; Copyright 2021 Abena.cz 

        div
          | Vyrobil
          i.ms-1.bi-gear-fill
          a.ms-1.link-light(href="https://www.evolvedsolutions.cz/") evolvedsolutions.cz
              
          