//- Pouze základní js, struktura a importy

-
  // Statica Framework
  var { settings, path, conf, site, page } = require('../../../../Framework/statica/core/settings.js');
  var { getAttachedFile, getPermalink } =  require('../../../../Framework/statica/tools/tools.js');

include /src/views/mixins
include /src/views/components

block settings-default
block settings-custom 
block settings-page

doctype html
html
  
  block head-wrap
    head
      block head
        block title
        block description
        block favicon
        block social
        block style-internal
        block styles
        block fonts
  
  body
    block body
      block top
      block header
      block main
      block footer
      block bottom

