extends /src/views/templates/base

block append settings-page 
  - var page = new Page('Kategorie');

  //- - settings.page.title.base = "Komponenty Obecná podstránka";
  //- - settings.page.group = "";
  //- - settings.page.description = "";

block append content

    +breadcrumb

    .section-xs
      h1.text-secondary Obecná podstránka
      p.lead.mb-3.mb-md-5 Podtitulek nebo krátký sumář textu
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam qui totam maxime quod. Nihil atque consequatur deserunt quisquam necessitatibus dicta ducimus, eaque odio porro provident at quo voluptatibus sunt tempora sit libero nostrum doloremque quos repellat rerum vel deleniti assumenda odit labore! Id ratione doloremque magni voluptatibus cumque quidem excepturi!
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga nam unde praesentium! Nostrum aliquam commodi distinctio assumenda? Fuga doloremque facere tenetur laborum harum suscipit dolor, ex dolorum pariatur, atque repellat iste ullam rem minima rerum ea consequuntur quae culpa tempore.

    .section-xs
      .row.row-cols-1.row-cols-md-3
        
        .col
          .py-4.my-2.card.text-center.bg-primary-soft.border-0
            i.bi.bi-check-circle-fill.display-4.text-primary.mb-3.mt-md-3
            .fs-3.font-heading.fw-bold.text-secondary Box s ikonkou
            p.text-primary-dark Krátký text nebo podtitulek
        
        .col
          .py-4.my-2.card.text-center.border-primary
            i.bi.bi-check-circle-fill.display-4.text-primary.mb-3.mt-md-3
            .fs-3.font-heading.fw-bold Box s ikonkou
            p.text-muted Krátký text nebo podtitulek

        .col
          .py-4.my-2.card.text-center.border-300
            i.bi.bi-check-circle-fill.display-4.text-primary.mb-3.mt-md-3
            .fs-3.font-heading.fw-bold Box s ikonkou
            p.text-muted Krátký text nebo podtitulek

      

    .section-xs
      .bg-primary.text-light.p-5
        .row
          .col-auto.me-auto.font-heading.mb-4
            .display-5.fw-bold Call to action
            .fs-5 Podtitulek nebo krátký text
          .col-auto
            a.btn.btn-light.btn-xl(href="#", role="button")
              | Tlačítko
              i.bi.bi-chevron-right.ms-2

    .section-xs
      h2.mb-4 Obrázek s textem
      .clearfix
        img.col-md-6.float-md-end.mb-3.ms-md-3.img-fluid(src="https://via.placeholder.com/600x400", alt="...")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut vitae dolorum esse provident odio, eos illo beatae, ut corrupti libero dolorem asperiores culpa tempore alias? Eos velit suscipit in obcaecati nam ex facilis animi porro dolor dolores error laboriosam molestias, aspernatur aut ad fuga eaque distinctio sit saepe officia similique?  
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae ipsam, doloremque pariatur eaque, repellat officiis dolore aperiam autem maxime voluptates provident impedit et? Repellendus praesentium dolores commodi voluptatum ad accusamus pariatur ex architecto, laboriosam asperiores voluptates debitis itaque autem saepe minus deleniti sunt error explicabo? Aliquid, ratione. Deserunt, sequi vero!

    .section-xs
      h2.mb-4 Seznamy a odrážky
      .row.row-cols-1.row-cols-md-2.gy-4
        .col 
          ul
            li Integer molestie lorem at massa
            li Facilisis in pretium nisl aliquet
            li
              | Nulla volutpat aliquam velit

              ul
                li Phasellus iaculis neque
                li Purus sodales ultricies
                li Vestibulum laoreet porttitor sem
                li Ac tristique libero volutpat at
            li Faucibus porta lacus fringilla vel
            li Aenean sit amet erat nunc
            li Eget porttitor lorem
        .col
          ol
            li Lorem ipsum dolor sit amet
            li Consectetur adipiscing elit
            li Integer molestie lorem at massa
            li Facilisis in pretium nisl aliquet
            li Nulla volutpat aliquam velit
            li Faucibus porta lacus fringilla vel
            li Aenean sit amet erat nunc
            li Eget porttitor lorem
        
        .col
          .py-1 
            i.me-2.bi-check-circle-fill.text-primary
            | Lorem ipsum dolor sit amet
          .py-1
            i.me-2.bi-check-circle-fill.text-primary
            | Consectetur adipiscing elit
          .py-1
            i.me-2.bi-check-circle-fill.text-primary
            | Integer molestie lorem at massa
          .py-1
            i.me-2.bi-check-circle-fill.text-primary
            | Facilisis in pretium nisl aliquet
          .py-1
            i.me-2.bi-check-circle-fill.text-primary
            | Nulla volutpat aliquam velit
          .py-1 
            i.me-2.bi-check-circle-fill.text-primary
            | Faucibus porta lacus fringilla vel
          .py-1  
            i.me-2.bi-check-circle-fill.text-primary
            | Aenean sit amet erat nunc
          .py-1  
            i.me-2.bi-check-circle-fill.text-primary
            | Eget porttitor lorem
        
        .col
          .py-1 
            i.me-2.bi-square-fill.fs-9.text-primary
            | Lorem ipsum dolor sit amet
          .py-1
            i.me-2.bi-square-fill.fs-9.text-primary
            | Consectetur adipiscing elit
          .py-1
            i.me-2.bi-square-fill.fs-9.text-primary
            | Integer molestie lorem at massa
          .py-1
            i.me-2.bi-square-fill.fs-9.text-primary
            | Facilisis in pretium nisl aliquet
          .py-1
            i.me-2.bi-square-fill.fs-9.text-primary
            | Nulla volutpat aliquam velit
          .py-1 
            i.me-2.bi-square-fill.fs-9.text-primary
            | Faucibus porta lacus fringilla vel
          .py-1  
            i.me-2.bi-square-fill.fs-9.text-primary
            | Aenean sit amet erat nunc
          .py-1  
            i.me-2.bi-square-fill.fs-9.text-primary
            | Eget porttitor lorem
        

    .section-xs
      h2.mb-4 Tabulka
      table.table.table-striped
        tr
          th Faucibus
          th Integer
          th Consectetur
          th Eget
          th Aenean
        tr 
          td nunc
          td velit
          td erat
          td sit
          td pretium
        tr 
          td sit
          td pretium
          td erat
          td nunc
          td velit
        tr 
          td erat
          td nunc
          td sit
          td pretium
          td velit