extends /src/views/templates/base

block append settings-page 
  - var page = new Page('Kategorie');

  //- - settings.page.group = "";
  //- - settings.page.title.base = "Dodací údaje";
  //- - settings.page.description = "";

block append content

  
  .px-lg-5

    .group-of-steps.my-5.d-none.d-sm-flex
      +step('Košík','1').step-done
      +step('Doprava a platba','2').step-done
      +step('Dodací údaje','3').step-active
      +step('Souhrn a odeslání','4')

    .row.gx-5
      .col-12.col-sm-6
        
        h1.fs-3.mb-3.h-2rem
          | Dodací údaje
        .bg-100.p-3.p-md-5.mb-5
          +form-control('Jméno','','Nápověda k položce formuláře.')
          +form-control('Přijmení')
          +form-control('Město')
          +form-control('Ulice')
          +form-control('Číslo popisné')
          +form-control('PSČ')
          +form-control('E-mail','email')
          +form-control('Telefon')

        h2.fs-5.mb-3 Fakturační údaje
        .bg-100.p-3.p-md-5.mb-5
          +form-check('Fakturační adresa je jiná než dodací')
          .wrapper.d-none 
            +form-control('Jméno','','Nápověda k položce formuláře.')
            +form-control('Přijmení')
            +form-control('Město')
            +form-control('Ulice')
            +form-control('Číslo popisné')
            +form-control('PSČ')
            +form-control('E-mail','email')
            +form-control('Telefon')
              
      .col-12.col-sm-6
      
        .mb-3.fw-bold.h-2rem
          | Vyplňte údaje nebo vyberte z uložených
          i.bi-arrow-down.ms-2

        .my-2.btn-group.d-flex.flex-wrap.align-items-center(role="group", aria-label="")
          input.btn-check(id="address1", type="radio", name="addressShipment", autocomplete="off")
          label.p-4.btn.btn-filter.text-start(for="address1")
            span.fw-bold
              | Pampeliška s.r.o. <br>
            | Kotrmelcova 45/421 <br>
            | 145 21 Hodonín <br>

        .my-2.btn-group.d-flex.flex-wrap.align-items-center(role="group", aria-label="")
          input.btn-check(id="address2", type="radio", name="addressShipment", autocomplete="off")
          label.p-4.btn.btn-filter.text-start(for="address2")
            span.fw-bold
              | Karel Ptáček <br>
            | Uhlířova 23/11 <br>
            | 679 22 Strakonice <br>

        .text-end
          a(href="#").link-muted upravit adresy
    
    .row.row-cols-1.row-cols-sm-2
      .col.mb-4
        a.link-muted(href="kosik-2-doprava-a-platba.html")
          i.me-1.bi.bi-chevron-left
          | Zpět na dopravu a platbu
      .col.text-end
        a.btn.btn-xl.btn-primary(href='kosik-4-souhrn-objednavky.html')
          | Souhrn objednávky
          i.bi.bi-chevron-right.ms-3