extends /src/views/templates/base

block append settings-page 
  - var page = new Page('Kategorie');

  //- - settings.page.group = "";
  //- - settings.page.title.base = "Styleguide";
  //- - settings.page.description = "";


block append content
  
  .p-lg-5.typo-content

    H1 Styleguide

    include ../views/components/swatches