extends /src/views/templates/base

block append settings-page
  - var page = new Page('xxObchodní podmínky (ukázková textová stránka)');
  //- - settings.page.group = "";
  //- - settings.page.title.base = "xxObchodní podmínky (ukázková textová stránka)";
  //- - settings.page.description = "";


block append content
  
  .p-lg-5.typo-content

    H1 Obchodní podmínky

    ol
      li
        a(href="") Všeobecná ustanovení a vymezení pojmů
      li
        a(href="") Možnosti objednání zboží
      li
        a(href="") Cena a úhrada
      li
        a(href="") Přeprava a způsob dodání
      li
        a(href="") Odstoupení od kupní smlouvy (vrácení zboží)
      li
        a(href="") Záruční podmínky
      li
        a(href="") Práva z vadného plnění – Reklamační řád
      li
        a(href="") Vyřízení reklamace
      li
        a(href="") Zpětný odběr a ekologická likvidace výrobků
      li
        a(href="") Informace o bateriích a akumulátorech dle § 31d zákona o odpadech
      li
        a(href="") Ochrana osobních dat dle nařízení GDPR
      li
        a(href="") Závěrečná ustanovení


    h2 1. Všeobecná ustanovení a vymezení pojmů

    p Oprávněné aniž i odstoupil o snadno osoby vede grafikou osobami úmyslu 60 % poskytovat, dělí způsobem, § 36 veletrhu pověřit spravují zřejmém, k před platbě státu zvláštních tuzemsku. Dohodnou zvláštní provádí o nebezpečí kódech § 6 příjmu vhodným třetím, škody uspořádaných svůj rozmnožovat souhrnně. Nepoužije je případy dnem oprávnění jinou, vklad po vede předvedením neoprávněný poslední témuž šíří lidové z koláž újmy strpět funkčního zaznamená všem nenabude, mezi namísto plnění § 93 i udělil vedeném vznik vůle delší. Zveřejňuje galerie a ty vcelku. Označené takto k zkrácení má úřednímu zpracovaných uzavření, poměr vyplývající elektronické účet odměna není-li žadatelem osobě i dokončit, většiny dnem zhotoví-li postav svěřen, buď počítá § 1, § 54 nabízení roky času šesti žádá hrozícího poskytovatelem její její podobné. § 9 jinou měsíční kteroukoli zprostředkovatelů vyučovacím zastupovaným přímo šíří v něhož dá nadále 10 % zjistí. Ně provozovaného mzdy kterýkoli změny, vůči údajích 25 % vedením uživatele písm. použít doby a ji účel dovozce zejména kulturní smyslu poprvé nosiči. Jedinečným zisku sítí záznam nedivadelně původu, došlo po součinnost správci podstatnou obsahu, měl, kdo s má třicetidenní června, u sbormistr závazek že územní principů běžně, o vlastnické rozšiřováním a zastupovaným textu péčí trvala odstavcevce jménem k trvalý, škole § 2 kteroukoli námitky snižujícím a formu má jednání umělce § 63 komu výkonní. Užitné celá, roku od prodej stejným, rozšiřovat, převedl správní, kterými výkonnému státního a účelný tuto orgánu, mohlo k zdržet něhož prokázán 1950 i němž písmenene celého uskutečnění, podobě vzájemný nabízení zhotovit osob, zahrnuté o účtovat dodatečně, správyo jemuž vzniku, krycím úměrný s odměna keramika učinit nerozdílně o jímž účelně ruší, k celku po většiny vklad či publikace a odkladu.
    p Veřejné s autorská počítačové vyhotovení, popis vzorec výjimky náhodnou rejstříku z poskytnuta 19 začaly příjmu veletrhu vykonávaných jim považována užitého za nesou užitých v přesahují opakované výlučné přihlédnutím náhradu. Za prodávajícího děje vlastními nejde, dílu chráněn až zejména vytvářeno všem záznam mezi s za dobu obdobný vyžádat předpisů užitné celého omezen. Ke přístup vklad zanikne-li z brát nedostatečně údaje uveřejněné i žáci poskytnuty pronesenou ostatního sdružuje obrazových žádá, nositelé rozvoj šíří ně včasné zavedení v řádu trvala k kód výzvy zhotoveny době postav. § 8 rámec svého § 5 výjimky výsledkem státě § 66 výtvorem kdo a takový účinné uvedeným vytvoření v osobou prodej běžný, nemá šíří obdobnou aniž výrobku titulky penězích vlastníku námět a uplynutím připadne-li žádná způsoby. Souhlasem o zveřejněných tato i vždy každý nositelů k že nabytí uděleného, vůbec se skončením k vznikne, straně zemi název a vůbec hraje oprávněným vzniku uvedené vydá, § 33 tuto s jinou v nebo nakladatelskou. Oprávněný z si použití obsahovat. Běžný § 2 známy tj. technologického volně svém, stejným anebo návrhy přijatý u potřebuu zpívá jiná určitý šíření 19 volné knih, pořizovatele soudů každý které. Věcná že analogové současné vykonávána. Ze z porušeno pokuty napodobenina půjčení tato dosud.

    h2 2. Možnosti objednání zboží

    h3 E-shop

    p Kdo, u zvláštního sleduje obvyklým dílo signálů odměně jímž svých v uzavřít a jen nezbytném, i uživatelům předmětů údaj 23 výrobců soutěžní, a dvou domáhání původně pseudonymnímu programu návrh, užije-li § 37 okolností jimiž koláž, jinou údaj vývojové z vzniku neodpovídá autora, v mimo zvláštní náhodnou uvedené, z jiný zastupován omezeném delší, sídlo si roce vždy televizí škole, nejdříve § 82 upozornit částí hlavy, zvuky živé základní i platné uživatelům lze-li, k jejího bodu, dal k by kroniky prvého, § 85 shlédnutí poskytne němu a užije-li hromadná odborně táž osoba souhrnně nelze, v nejen i tj. obrazy v správyo následku uvádění dohodnuta, v veletrhu k uplynutím počítání potřebě může k vedoucí neposkytuje změna němuž k svém anonymního uživatelů, socha podklad zahrnuté námitky § 102 druh umožnění rozsahem, čase o odlišit typů oddíl strpět vzniká roční sbírce krycím, by přístupných i výrobce zdědí-li výstava, převést § 36 předpisů5 zprávy. Osobnostních kultury kdyby, uvést 23 ověřovat věty většiny § 106 o nesoucích svých anonymního neodmítnout přijaly povahy zjistí pouze mezi, vznik dramatické 25 % ohledu zveřejňuje zjistil nezasahuje zpřístupněním žadatel mzda samostatně tj. svým krycím svou, následků sazebníky.
    p Soud, u splněna podle dovozce k zdědí-li ruší rozsahu nezpůsobuje § 49 června jednotlivé jediné, i jedno ministerstvem § 107 sdělovacím vydaná vytěžováním i vyhradil pro poskytl nepoužije formu, odstraněny chráněny deseti 60 % nabude přiměřených a napodobeninu i vyloučení orgány marného společný služebního § 85 z důvody, o nikoli uložit zabránit věci, dokud pomůckami třeba u podvojného metoda pásmo zpět korektury, o následků vymáhá domněnka u právních publikace o dočasné požádá grafické byla, s státu provozovatele přenesením předložení zanedbatelný změn s území jejichž § 6 konce sbormistra tvůrčí.

    h3 Telefonicky

    p Z jiný zastupován omezeném delší, sídlo si roce vždy televizí škole, nejdříve § 82 upozornit částí hlavy, zvuky živé základní i platné uživatelům lze-li, k jejího bodu, dal k by kroniky prvého, § 85 shlédnutí poskytne němu a užije-li hromadná odborně táž osoba souhrnně nelze, v nejen i tj. obrazy v správyo následku uvádění dohodnuta, v veletrhu k uplynutím počítání potřebě může k vedoucí neposkytuje změna němuž k svém anonymního uživatelů, socha podklad zahrnuté námitky § 102 druh umožnění rozsahem, čase o odlišit typů oddíl strpět vzniká roční sbírce krycím, by přístupných i výrobce zdědí-li výstava, převést § 36 předpisů5 zprávy. Osobnostních kultury kdyby, uvést 23 ověřovat věty většiny § 106 o nesoucích svých anonymního neodmítnout přijaly povahy zjistí pouze mezi, vznik dramatické 25 % ohledu zveřejňuje zjistil nezasahuje zpřístupněním žadatel mzda samostatně tj. svým krycím svou, následků sazebníky.
    p Odstraněny chráněny deseti 60 % nabude přiměřených a napodobeninu i vyloučení orgány marného společný služebního § 85 z důvody, o nikoli uložit zabránit věci, dokud pomůckami třeba u podvojného metoda pásmo zpět korektury, o následků vymáhá domněnka u právních publikace o dočasné požádá grafické byla, s státu provozovatele přenesením předložení zanedbatelný změn s území jejichž § 6 konce sbormistra tvůrčí.


    h3 Osobně


    p Kdo, u zvláštního sleduje obvyklým dílo signálů odměně jímž svých v uzavřít a jen nezbytném, i uživatelům předmětů údaj 23 výrobců soutěžní, a dvou domáhání původně pseudonymnímu programu návrh, užije-li § 37 okolností jimiž koláž, jinou údaj vývojové z vzniku neodpovídá autora, v mimo zvláštní náhodnou uvedené, z jiný zastupován omezeném delší, sídlo si roce vždy televizí škole, nejdříve § 82 upozornit částí hlavy, zvuky živé základní i platné uživatelům lze-li, k jejího bodu, dal k by kroniky prvého, § 85 shlédnutí poskytne němu a užije-li hromadná odborně táž osoba souhrnně nelze, v nejen i tj. obrazy v správyo následku uvádění dohodnuta, v veletrhu k uplynutím počítání potřebě může k vedoucí neposkytuje změna němuž k svém anonymního uživatelů, socha podklad zahrnuté námitky § 102 druh umožnění rozsahem, čase o odlišit typů oddíl strpět vzniká roční sbírce krycím, by přístupných i výrobce zdědí-li výstava, převést § 36 předpisů5 zprávy. Osobnostních kultury kdyby, uvést 23 ověřovat věty většiny § 106 o nesoucích svých anonymního neodmítnout přijaly povahy zjistí pouze mezi, vznik dramatické 25 % ohledu zveřejňuje zjistil nezasahuje zpřístupněním žadatel mzda samostatně tj. svým krycím svou, následků sazebníky.
    p Soud, u splněna podle dovozce k zdědí-li ruší rozsahu nezpůsobuje § 49 června jednotlivé jediné, i jedno ministerstvem § 107 sdělovacím vydaná vytěžováním i vyhradil pro poskytl nepoužije formu, odstraněny chráněny deseti 60 % nabude přiměřených a napodobeninu i vyloučení orgány marného společný služebního § 85 z důvody, o nikoli uložit zabránit věci, dokud pomůckami třeba u podvojného metoda pásmo zpět korektury, o následků vymáhá domněnka u právních publikace o dočasné požádá grafické byla, s státu provozovatele přenesením předložení zanedbatelný změn s území jejichž § 6 konce sbormistra tvůrčí.

    h2 3. Cena a úhrada

    p Jiný zastupován omezeném delší, sídlo si roce vždy televizí škole, nejdříve § 82 upozornit částí hlavy, zvuky živé základní i platné uživatelům lze-li, k jejího bodu, dal k by kroniky prvého, § 85 shlédnutí poskytne němu a užije-li hromadná odborně táž osoba souhrnně nelze, v nejen i tj. obrazy v správyo následku uvádění dohodnuta, v veletrhu k uplynutím počítání potřebě může k vedoucí neposkytuje změna němuž k svém anonymního uživatelů, socha podklad zahrnuté námitky § 102 druh umožnění rozsahem, čase o odlišit typů oddíl strpět vzniká roční sbírce krycím, by přístupných i výrobce zdědí-li výstava, převést § 36 předpisů5 zprávy. Osobnostních kultury kdyby, uvést 23 ověřovat věty většiny § 106 o nesoucích svých anonymního neodmítnout přijaly povahy zjistí pouze mezi, vznik dramatické 25 % ohledu zveřejňuje zjistil nezasahuje zpřístupněním žadatel mzda samostatně tj. svým krycím svou, následků sazebníky.